  body {
    background-color: #FFFFFF;
  }

	a.named-anchor {
	  display: block;
		top: -65px;
		position: relative;
		visibility: hidden;
	}

  .main.container {
    margin-top: 2em;
  }

	.video-container {
 	  position: relative;
 	  width: 100%;
 	  height: 0;
 	  padding-bottom: 56.25%;
	}

	.video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

  .main.menu {
    margin-top: 2.5em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition:
      box-shadow 0.5s ease,
      padding 0.5s ease
    ;
  }
  .main.menu .item img.logo {
    margin-right: 1.5em;
  }

  .overlay {
    float: left;
    margin: 0em 3em 1em 0em;
  }
  .overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
  }

  .main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .overlay.fixed .menu {
    left: 800px;
  }

  .text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
  }
  .text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
  }

  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }

  em.article-date {
		font-size: .8em;
  }

	#social-buttons .button {
		margin-top: 1em;	
	}

	.modal .button a {
	  color: white;
	}

	/* Adjust Hamburger Menu */
	a.sidemenu.launch i.icon {
	  font-size: 1.75em;
		line-height: 1em;
	}
	
	/* Color of Second Item in Sidebar */
	.sidebar div.item:nth-of-type(1) .header {
	  color: rgb(0%,45%,60%);
		font-size: 1.25rem !important;
	}

/* Video Tweaks Smaller Screens */
@media only screen and (min-width: 480px) and (max-width: 639px) {
	video, video[poster] {
		width: 500px !important;
	}
}

/* Video Tweaks Smaller Screens */
@media only screen and (min-width: 640px) and (max-width: 767px) {
	video, video[poster] {
		width: 600px !important;
	}
}

/* Tablet Adjustments */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	video, video[poster] {
		width: 700px !important;
	}
  a.sidemenu.launch {
		padding-left: 20px !important;
		left: -20px;
  }

  div.header.item:first-child {
		padding-left: 0px !important;
  }
}

/* Small Monitor Adjustments */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	video, video[poster] {
		width: 700px !important;
	}

  a.sidemenu.launch {
		padding-left: 20px !important;
		left: -20px;
  }

  div.header.item:first-child {
		padding-left: 0px !important;
  }
}

/* Large Monitor Adjustments */
@media only screen and (min-width: 1200px) {
	video, video[poster] {
		width: 700px !important;
	}

  a.sidemenu.launch {
		padding-left: 20px !important;
		left: -20px;
  }

  .header.item:first-child {
		padding-left: 0px;
  }
}
