<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="acknowledgements.html"
&&DocTitle="Acknowledgements"
&&DocSubtitle="Some Love for Those Who Helped"
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/thank-you.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="February 2<sup>nd</sup> 2017"
&&EditDate="September 3<sup>rd</sup> 2018"
&&OgSourceUrl="images/thank-you.jpg"
&&OgType="article"
&&OgImage="images/thank-you.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle=""
&&OgSiteName=""
&&OgDescription=""
&&OgImage="images/thank-you.jpg"

/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle=""
&&twitterCardDescription=""
&&twitterCardImage=""



--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center image transition visible" data-src="images/thank-you.jpg" src="images/thank-you.jpg">
<p>Many people helped me get this blog moving, but some contributed greatly for inspiration, support, and direction. Any quality found is partially due to the following people and organizations:</p>
<p>[Under review. This section requires renewed permissions from those acknowledged due to a shift in the content provided. Since the content is more controversial than it was previously, I wanted to protect the identities of helpers, while in the process of getting permission about continued acknowledgement. Also, it is necessary periodically to consider who else should be included! I'm very concerned to give credit even if it is merely for providing much needed motivation and energy.]</p>
<p>There are many others I intend to add (thank you for any encouragement you provided!). For now I wanted to name those who provided direct contributions when they were needed.</p>
<p>Of course, this list does not imply anyone's personal endorsement of the material or responsibility for blemishes. All opinions on this site are my own, but they would be poorly communicated if not for the people above. Thank you!</p>
