<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="Bag O' Marbles"
&&DocTitle="Bag O' Marbles"
&&DocSubtitle="On Not Finding Intelligent Alien Life"
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="bag-o-mables-small.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="April 28<sup>th</sup> 2018"
&&EditDate="October 2<sup>nd</sup> 2018"
&&OgSourceUrl="http://www.mattanaw.com/bag-o-marbles.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/bag-o-mables-large.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle=""
&&OgSiteName=""
&&OgDescription=""


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Bag O' Marbles"
&&twitterCardDescription="On Not Finding Intelligent Alien Life"
&&twitterCardImage="images/bag-o-mables-small.jpg"



--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center floated image transition visible" data-src="images/DocImage" src="images/DocImage.jpg" />
<p>Suppose someone gives you a bag of infinite marbles. Along with the bag, this person gives you a &quot;special&quot; marble that is blue and white and green, and has a small picture of you painted on it, almost to scale (you are basically a microscopic spec on the marble). The only way to confirm that this marble is yours (versus an imposter marble), is to look at it very closely, with a magnifying glass.</p>
<p>The person who gave you the bag then tells you there might be another marble &quot;like&quot; yours in the bag, but there's no way to know for sure without looking.</p>
<p>For some reason you are overcome with curiosity about other marbles that might be &quot;like&quot; yours. Maybe they have little pictures painted on them, that look kind-of like you, if you find a similar one, and look at it closely enough.</p>
<p>So you begin searching through this bag. You start at first by reaching in and pulling out one marble at a time. Almost every marble you pull out looks like a clod of dirt. You pull out thousands like these, and occasionally, you find a beautiful marble, but it doesn't make up for the effort. You're not looking for dazzling orange marbles, but marbles &quot;like&quot; yours. You pull out ten thousand marbles and none are similar to your marble at all. You don't even bother to use your magnifying glass because they are truly nothing like your marble.</p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/orange-marble-small.jpg" src="images/orange-marble-small.jpg" />
<p>But you get sick of pulling out these marbles. What a waste of time you think! What are the odds of finding a marble like mine, really?! So far, it appears there are none in there! Not one in ten thousand.</p>
<p>So you devise a method to pull out 100,000 marbles at a time. But since you pull out so many, you can't ever look closely at them. It's like sifting lentils. There's no way to look at each individually with much clarity. You just blast through trying to find a possible match. Still you find no marble &quot;like&quot; your marble. Even with your technique of sifting through them, you only pick up on slight similarities.</p>
<p>So you shift to a method of getting 1,000,000 marbles at a time, that you can sift through with even less clarity. Using this technique, you never actually get to handle the marbles. You can only look at them at a distance. Still you have no good results.</p>
<p>After that you find another technique, to sift through 1,000,000,000 marbles at a time, but you are even further removed from being able to handle them. At this point, it is really hard to tell if a marble even could be similar. You find do find some bluish ones and you just hope they might be similar to yours. You can't confirm.</p>
<p>At this point, exhausted, you realize you may have been set on a false path, by hopes of finding a marble like yours. But you can't give up on it. So you start to pay someone else to do the work.</p>
<p>30 years later, your team of marble hunters have cost you 10 trillion dollars and have found nothing but bluish ones with some white.</p>
<p>There are rewards to doing this activity. You've learned a ton of math along the way, and built many interesting tools. So it wasn't a complete waste of time after all. But you had to re-purpose all your activities to make them worth anything to you on the market.</p>
<p>Finally, at 90 years old, you realize, you never really attempted to calculate the probability of finding a marble like yours correctly. There is only one that you know of. Now you located 10 buhzillion other marbles, and can't even tell if you have a match. Earlier you drew 10,000, then a million, and definitely had no matches.</p>
<p>The harder you worked on this problem, the closer you should have gotten to realizing that you are moving from a slight possibility, to complete improbability. 1/10^10^10^10^10...</p>
<p>By induction if you check again it will not be a marble like yours. You might be better to distrust that the sun will rise tomorrow than find another marble like yours.</p>
