<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="evening-visit-from-a-moose-in-anchorage.html"
&&DocTitle="Evening Visit From a Moose in Anchorage"
&&DocSubtitle="A quick video of a moose munching on a tree beside my old apartment""
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage=""
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="March 12<sup>th</sup> 2017"
&&EditDate="Original Version"
&&OgSourceUrl="http://www.mattanaw.com/evening-visit-from-a-moose-in-anchorage.html"
&&OgType="video"
&&OgImage=""
&&OgVideoType="application/x-shockwave-flash"
&&OgVideo="https://www.youtube.com/embed/Usy7s6wFbZk?rel=0&autoplay=1"
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Evening Visit From a Moose in Anchorage"
&&OgSiteName="MATTANAW.COM"
&&OgDescription=""


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle=""
&&twitterCardDescription=""
&&twitterCardImage=""



--><!--1--></pre>
<pre><!--2--></pre>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Usy7s6wFbZk?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe><br /><br />
<p>A few weeks ago we were lucky enough to be visited by a large bull moose at night. Moose are dangerous—one of the most dangerous animals in Alaska—so I kept my distance while capturing this video.</p>
<p>Moose are very far from endangered but sightings are still infrequent, even here in Anchorage. They cover an expansive range for browsing and feeding, and are mostly solitary, so population density is low. Sightings are not quite as rare as with bears, but residents may not see one for weeks at a time.</p>
<p>Around the city and in neighborhoods visits are irregular. Residents expect to see them every season, but they appear unexpectedly and evoke surprise. This was the first moose we saw after 6 months at our current neighborhood. They attract a ton of attention—our neighbors were leaning out windows to see this one. They are quiet, we didn't notice this one initially. We noticed the people first, even though they are huge (especially the Alaskan subspecies <em>A. a. Gigas</em>)— this bull was possibly around 1,100 pounds (~500 kgs). In nature it can be hard to tell how large they are, but in neighborhoods the contrast makes it clear. They dwarf cars and stand taller than garages. Away from the city they don't appear nearly as large.</p>
<p>Tourists can expect to see one or two if they make a visit. Not much planning is required to see a moose (<a href="no-you-really-wont-see-the-whales-and-aurora-borealis.html">See my article on realistic first trips to Alaska</a>). As long as plenty of time is spent along parks and trails, there is a good chance of spotting one.</p>
