<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="flight-from-tangier-island.html"
&&DocTitle="A Flight from Tangier Island"
&&DocSubtitle="A scenic flight from little-known Tangier Island, on the Chesapeake Bay in Virginia, USA."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="tangier-preview.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="January 29<sup>th</sup> 2017"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/flight-from-tangier-island.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/tangier-preview.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="A Flight from Tangier Island"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="A scenic flight from little-known Tangier Island, on the Chesapeake Bay in Virginia, USA."


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="A Flight from Tangier Island"
&&twitterCardDescription="A scenic flight from little-known Tangier Island, on the Chesapeake Bay in Virginia, USA."
&&twitterCardImage="http://www.mattanaw.com/images/tangier-preview.jpg"



--><!--1--></pre>
<pre><!--2--></pre>
<p><em>Note: This is a loud video—confirm your volume is set to low before playing.</em></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/T6zhf67fqXM?list=PLBMEnIFCFYTFH8ipTuMWZapd08b7oslrg?rel=0" frameborder="0" allowfullscreen></iframe><br /><br />
<p><a href="https://en.wikipedia.org/wiki/Tangier,_Virginia">Tangier Island</a> is a small crabbing town located in the Chesapeake Bay, within the state of Virginia, in the USA. It has unique qualities because of its relative isolation from the rest of the region. In this video I am flying with my instructor Tom and friend Alex after a day trip from KGAI in Gaithersburg, Maryland, in 2012.</p>
