<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="fly-tape-is-wrong.html"
&&DocTitle="Fly Tape Is Wrong"
&&DocSubtitle="Horrifying flytape aftermath"
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="poster-fly-tape-is-wrong.png"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="September 23<sup>rd</sup> 2018"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/fly-tape-is-wrong.html"
&&OgType="video"
&&OgImage="http://www.mattanaw.com/images/poster-fly-tape-is-wrong.png"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="DocTitle"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="DocSubtitle"


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="DocTitle"
&&twitterCardDescription="DocSubtitle"
&&twitterCardImage="http://www.mattanaw.com/images/poster-fly-tape-is-wrong.png"



--><!--1--></pre>
<pre><!--2--></pre>
<video width="320px" controls poster="images/poster-fly-tape-is-wrong.png"> 
	<source src="video/mattanaw-fly-tape-is-wrong.mp4">
	<source src="video/mattanaw-fly-tape-is-wrong.mov">
Browser ain't right.
</video>
<footer><a href="video/mattanaw-fly-tape-is-wrong.mp4">Video</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a></footer>
<p>Fly Tape is Wrong</p>
