<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="landing"

/* Doc Properties
&&htmlPageTitle="Foraging in Alaska"
&&DocTitle="Foraging On My Property in Alaska"
&&DocSubtitle="My attemps at finding free plants to supplement my grocery and restaurant-based vegetarian lifestyle, here in Alaska."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/foraging-1-web.jpg"
&&ProfileImage="images/profile/partly-to-summit-mchugh-peak.png"

/* Open Graph and Facebook Properties
&&PubDate="May 31<sup>st</sup> 2019"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/foraging-in-alaska.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/foraging-1-master.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Foraging On My Property in Alaska"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="My attemps at finding free plants to supplement my grocery and restaurant-based vegetarian lifestyle, here in Alaska."

/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Foraging On My Property in Alaska"
&&twitterCardDescription="My attemps at finding free plants to supplement my grocery and restaurant-based vegetarian lifestyle, here in Alaska."
&&twitterCardImage="http://www.mattanaw.com/images/foraging-1-web.jpg"




--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center image transition visible" data-src="DocImage" src="DocImage">
<h1>DocTitle</h1>
<p><em>PubDate</em></p>
<p>This is my series page on foraging in Alaska. Anytime I learn something new about off-grid edibles, I will post my results here.</p>
<p>While I will focus on plants in the vicinity of Anchorage, Alaska (within a 200 mile radius), some plants here also exist in the lower Northwest Coasts and other places in North America.</p>
<p>I will indicate the range of the different plants so this page is useful to people who don't live in Alaska.</p>
<p>This is a work in progress. I will continually add to the list of plants as I identify them, determine if they are edible, which parts are worth including in recipes, what they taste like, where they can be found, and so on.</p>
<p>To complete a survey of all edible plants on my land and land around Anchorage, I need to cover any and all plants I might encounter. After all, the goal is to discover which plants I can consume of all that are available! There is no way to really know what is edible or not (even for medicinal use) without exhaustively searching through each and every plant in my area.</p>
<p>Remember, don't try anything here unless you see I've thoroughly tested and confirmed it is edible. I am adding plants here that will certainly turn out to be poisonous, once I've identified them. Also, remember you are eating at YOUR OWN RISK!</p>
<p>Check back for more additions, if you would like to learn as I learn!</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2>Miscellaneous Specimens, Including Ordinary but Glorious Roadside Weeds</h2>
<p><em>June 18<sup>th</sup>, 2019</em></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-6-web.jpg" src="images/recent-photos-from-property-6-web.jpg" />
<br />
<p><strong>To Be Identified Scientifically Soon</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-7-web.jpg" src="images/recent-photos-from-property-7-web.jpg" />
<br />
<p><strong>To Be Identified Scientifically Soon</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-8-web.jpg" src="images/recent-photos-from-property-8-web.jpg" />
<br />
<p><strong>To Be Identified Scientifically Soon</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-9-web.jpg" src="images/recent-photos-from-property-9-web.jpg" />
<br />
<p><strong>To Be Identified Scientifically Soon</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-10-web.jpg" src="images/recent-photos-from-property-10-web.jpg" />
<br />
<p><strong>To Be Identified Scientifically Soon</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-11-web.jpg" src="images/recent-photos-from-property-11-web.jpg" />
<br />
<p><strong>To Be Identified Scientifically Soon</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-12-web.jpg" src="images/recent-photos-from-property-12-web.jpg" />
<br />
<p><strong>To Be Identified Scientifically Soon</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-13-web.jpg" src="images/recent-photos-from-property-13-web.jpg" />
<br />
<p><strong>To Be Identified Scientifically Soon</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-14-web.jpg" src="images/recent-photos-from-property-14-web.jpg" />
<br />
<p><strong>To Be Identified Scientifically Soon</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-15-web.jpg" src="images/recent-photos-from-property-15-web.jpg" />
<br />
<p><strong>To Be Identified Scientifically Soon</strong></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2>New Specimens from Afternoon Jog</h2>
<p><em>June 9<sup>th</sup>, 2019</em></p>
<p>While jogging today I caught glimpses of plants I am not familiar with. Not wanting to miss the opportunity, because I was sure I'd see these plants on various parts of my property while foraging, I took some photos. I will return to identify each of these soon, but am happy to get tips from readers who might already know what they are (you can email me at <a href="mailto:mattanaw@mattanaw.com">mattanaw@mattanaw.com</a>).</p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/afternoon-jog-image-1-web.jpg" src="images/afternoon-jog-image-1-web.jpg" />
<br />
<p><strong>To Be Identified</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/afternoon-jog-image-2-web.jpg" src="images/afternoon-jog-image-2-web.jpg" />
<br />
<p><strong>To Be Identified</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/afternoon-jog-image-3-web.jpg" src="images/afternoon-jog-image-3-web.jpg" />
<br />
<p><strong>To Be Identified</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/afternoon-jog-image-4-web.jpg" src="images/afternoon-jog-image-4-web.jpg" />
<br />
<p><strong>To Be Identified</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/afternoon-jog-image-5-web.jpg" src="images/afternoon-jog-image-5-web.jpg" />
<br />
<p><strong>To Be Identified</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/afternoon-jog-image-6-web.jpg" src="images/afternoon-jog-image-6-web.jpg" />
<br />
<p><strong>To Be Identified</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/afternoon-jog-image-7-web.jpg" src="images/afternoon-jog-image-7-web.jpg" />
<br />
<p><strong>To Be Identified</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/afternoon-jog-image-8-web.jpg" src="images/afternoon-jog-image-8-web.jpg" />
<br />
<p><strong>No plant of interest here. Just admiring the view.</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/afternoon-jog-image-9-web.jpg" src="images/afternoon-jog-image-9-web.jpg" />
<br />
<p><strong>To Be Identified</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/afternoon-jog-image-10-web.jpg" src="images/afternoon-jog-image-10-web.jpg" />
<br />
<p><strong>To Be Identified</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/afternoon-jog-image-11-web.jpg" src="images/afternoon-jog-image-11-web.jpg" />
<br />
<p><strong>To Be Identified</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/afternoon-jog-image-12-web.jpg" src="images/afternoon-jog-image-12-web.jpg" />
<br />
<p><strong>To Be Identified</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/afternoon-jog-image-13-web.jpg" src="images/afternoon-jog-image-13-web.jpg" />
<br />
<p><strong>To Be Identified</strong></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2>Dandelions</h2>
<p><em>~June 5<sup>th</sup>, 2019</em></p>
<p><em>Additions made June 9<sup>th</sup>, 2019</em></p>
<p><em>Minor edits, June 10<sup>th</sup>, 2019</em></p>
<p>All my early life I lived amongst dandelions, but never did I consider them anything other than pestilent weeds.</p>
<p>In my early adulthood, I recall learning that dandelions were related to chicory, and that their roots could be roasted and consumed in a similar manner. Chicory is the old decaffeinated coffee substitute that you seldom see offered on a menu in a restaurant any longer. You may recognize the brand &quot;Choc-full-o-nuts&quot;, which is a brand that sells, or at least sold chicory (I'll have to update myself on this). If you scour the coffee aisle at your local grocery store, you may be able to find chicory or coffee-chicory blends still available. I never cared for Chicory, but this relationship with dandelion made me wonder if I could prepare dandelion root coffee myself; but still, I was never quite motivated enough to try it.</p>
<p>Now that I finally own my property, and have ventured into foraging for free veggies, I'm finding that dandelions are my easiest prey. They are all over the place. Just today I stepped out of my truck and had myself a snack. You can eat the whole thing. And I do.</p>
<p>Here are the ways I've enjoyed Dandelion so far:</p>
<ol>
<li>Eating the flower opened, or closed, raw.</li>
<li>Eating the stalk raw.</li>
<li>Eating the greens raw.</li>
<li>Frying everything but the roots in a stir fry with other veggies, and tofu, served over rice.</li>
</ol>
<p>My least favorite was the stir fry, but only because the bitterness of the leaves was out of place mixed with the rest of the ingredients. The stalks were delicious–and they reminded me of the green stalks above the bulbs of spring onions. They have a similar texture. My next favorite were the pod-like immature flowers sitting atop the younger stalks. These had a nice crunch, and unlike some other parts of the plant, didn't reduce to near-nothingness after they were thoroughly cooked.</p>
<p>This meal was very satisfying, and I will certainly try them again in other concoctions. I have to say though, I prefer dandelions raw. While hiking around, they are very fun to simply grab and munch on the spot. It seems like a lot of trouble to bring them home, wash them, cook and finally enjoy them. If I'm hungry I would almost prefer to walk outside, eat half a dozen, walk back inside again, and prepare a smaller dinner with other ingredients.</p>
<p>I have not tried young greens in a salad yet. I haven't had any dressing around to try them with, but next time I make a salad, they will certainly be featured.</p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/dandelion-1-web.png" src="images/dandelion-1-web.png" />
<br />
<img width="600" class="ui huge center floated image transition visible" data-src="images/dandelion-2-web.jpg" src="images/dandelion-2-web.jpg" />
<br />
<img width="600" class="ui huge center floated image transition visible" data-src="images/dandelion-3-web.jpg" src="images/dandelion-3-web.jpg" />
<br />
<img width="600" class="ui huge center floated image transition visible" data-src="images/dandelion-4-web.jpg" src="images/dandelion-4-web.jpg" />
<br />
<img width="600" class="ui huge center floated image transition visible" data-src="images/dandelion-5-web.jpg" src="images/dandelion-5-web.jpg" />
<br />
<img width="600" class="ui huge center floated image transition visible" data-src="images/dandelion-6-web.jpg" src="images/dandelion-6-web.jpg" />
<br />
<img width="600" class="ui huge center floated image transition visible" data-src="images/dandelion-7-web.jpg" src="images/dandelion-7-web.jpg" />
<br />
<p><strong>My preferred part of the young plant for stir-fry.</strong></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2>Initial Specimens</h2>
<p><em>May 31<sup>st</sup>, 2019</em></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/foraging-1-web.jpg" src="images/foraging-1-web.jpg" />
<br />
<p><strong>Shield Fern; Spreading Wood Fern.</strong></p>
<p><em>Species Dryopteris Dilatata, also Aspidiaceae</em></p>
<p>The curled fiddleheads, also called young fronds, are edible, and are available soon after thaw, mid to late May (Viereck, pp. 58-59, 1987). This means that those fronds recently photographed here, are perfectly edible, and I will certainly return to much on them. The roots are also edible and are said to be quite delicious, although it is early in the season to expect them to be mature enough for picking (Deur, pp. 203-204, 2014).</p>
<p>Numerous works were consulted to confirm this is the species in question (Davies, 1989; Hultén, 1968; Robuck, 1977; Shaffer 2000); although do I need to determine, with certainty, the method for distinguishing it from Dryoptera Expansa, a species supposedly easily confused for Dryopteris Dilatata (Wikipedia, 2019).</p>
<p>[NOTE: While some do not trust Wikipedia, it is wise to consult it for details missing from other sources, and for a general gut-check, particularly with respect to evaluating if a species is edible or not! A message for all the Wikipdedia naysayers! The other sources often lack the details you need!]</p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/foraging-2-web.jpg" src="images/foraging-2-web.jpg" />
<br />
<p><strong>Species TBD.</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/foraging-3-web.jpg" src="images/foraging-3-web.jpg" />
<br />
<p><strong>Species TBD.</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/foraging-4-web.jpg" src="images/foraging-4-web.jpg" />
<br />
<p><strong>Species TBD.</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/foraging-5-web.jpg" src="images/foraging-5-web.jpg" />
<br />
<p><strong>Species TBD.</strong></p>
<h2>Bibliography</h2>
<p>Davies, G, Editor. (1989). Checklist of Plants in Herbaria of National Park Units in Alaska, Vol I. Alaska: Division of Cultural Resources, National Park Service.</p>
<p>Deur, D. (2014). Pacific Northwest Foraging. Oregon: Timber Press.</p>
<p>Hultén, E. (1968). Flora of Alaska and Neighboring Territories: A manual of the Vascular Plants. Stanford, CA: Stanford University Press.</p>
<p>Robuck, O. (1977). The Common Plants of the Hemlock-Spruce Forests of Alaska. Washington, D.C.: Forest Service, U.S. Department of Agriculture.</p>
<p>Shaffer, B. (2000). Flora of South Central Alaska. 3rd. Anchorage, AK: University of Alaska Anchorage.</p>
<p>Viereck, E. (1987). Alaska's Wilderness Medicines: Healthful Plants of the Far North. Alaska: Alaska Northwest Books.</p>
<p>Wikipedia (2019). Dryopteris Expansa. Retrieved from: https://en.wikipedia.org/wiki/Dryopteris_expansa.</p>
<p>Jobilee Farm. Make Fireweed Tea in 5 Easy Steps. <a href="https://joybileefarm.com/fireweed-tea/">https://joybileefarm.com/fireweed-tea/</a></p>
<p>Vizgirdas, E. <em>Plant of the Week: Fireweed (Chamerion angustifolium)</em>. <a href="https://www.fs.fed.us/wildflowers/plant-of-the-week/chamerion_angustifolium.shtml">https://www.fs.fed.us/wildflowers/plant-of-the-week/chamerion_angustifolium.shtml</a></p>
<h2>Tools Used</h2>
<p>USDA Plant Search. Dryopteris Expansa <a href="https://plants.usda.gov/core/profile?symbol=DREX2">https://plants.usda.gov/core/profile?symbol=DREX2</a></p>
<p>ITIS Search. Dryopteris Dilatata <a href="https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&amp;search_value=17532#null">https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&amp;search_value=17532#null</a></p>
