<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="how-and-where-can-I-take-an-accredited-iq-test-and-how-much-does-it-cost.html"
&&DocTitle="How and Where Can I Take an Accredited IQ Test?"
&&DocSubtitle="Lending some experience from within the High IQ community."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/getting-proctored-accredited-iq-test-web.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="September 17<sup>th</sup> 2018""
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/how-and-where-can-I-take-an-accredited-iq-test-and-how-much-does-it-cost.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/getting-proctored-accredited-iq-test-web.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="How and Where Can I Take an Accredited IQ Test?"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="Lending some experience from within the High IQ community"


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="How and Where Can I Take an Accredited IQ Test?"
&&twitterCardDescription="Lending some experience from within the High IQ community"
&&twitterCardImage="http://www.mattanaw.com/images/getting-proctored-accredited-iq-test-web.jpg"



--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center floated image transition visible" data-src="DocImage" src="DocImage" />
<p>Quora Question: <a href="https://www.quora.com/How-and-where-can-I-take-an-accredited-official-IQ-test-and-how-much-does-it-cost/answer/Christopher-Matthew-Cavanaugh.">&quot;How and Where Can I Take an Accredited IQ Test, and How Much Does it Cost?&quot;</a></p>
<p>My answer:</p>
<p>Personally, I would plan to take several tests. Mensa testing is the cheapest route for sure, but it is useful to go to a licensed psychologist for different kinds of tests. Remember- no single test can give you a definitive answer regarding your intelligence. You must rely on a test battery, or combination of tests, to really get an appreciation for your talents and weaknesses, and interpret your score accurately.</p>
<p>Psychologist proctored tests can range significantly in duration, and depending on the rates of the psychologist/psychometitor, it could be as low as $240 and as high as $800, for a single test, with a report. The WAIS-IV test is timed, so will likely be cheaper. The Stanford Binet can take longer, since untimed, so might be more. I never took the Cattell.</p>
<p>As another respondent noted, the total may depend on whether or not a report is written. In my experience, geographic region was the biggest influence. A test in an expensive region will likely be significantly more costly.</p>
<p>I encourage taking a test or two if there is a true desire to identify strengths and weaknesses, for a constructive purpose. I don’t know of a quick site to visit, or number to call, to arrange an appointment. I would do a google search for psychologists and psychometricians in your area, and call around. A psychologist’s office will be kind enough to point you in the right direction. This is what I did. But if you want a simpler option, take the Mensa test.</p>
<p>[Mattanaw was not the author of the <a href="https://www.quora.com/How-and-where-can-I-take-an-accredited-official-IQ-test-and-how-much-does-it-cost/answer/Christopher-Matthew-Cavanaugh.">Quora Question.</a> Only the answer.]</p>
