<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="how-do-people-with-iqs-over-180-act-and-think.html"
&&DocTitle="How Do People With IQs Over 180 Act and Think?"
&&DocSubtitle="Lending some experience and insights from within the High IQ community."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/iq-over-180-web.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="September 18<sup>th</sup> 2018"
&&EditDate="October 4<sup>th</sup> 2018""
&&OgSourceUrl="http://www.mattanaw.com/how-do-people-with-iqs-over-180-act-and-think.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/"images/iq-over-180-web.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="How Do People With IQs Over 180 Act and Think?"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="A response to a Quora question, lending some experience from the high IQ community."


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="How Do People With IQs Over 180 Act and Think?"
&&twitterCardDescription="A response to a Quora question, lending some experience from the high IQ community."
&&twitterCardImage="http://www.mattanaw.com/images/"images/iq-over-180-web.jpg"



--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center floated image transition visible" data-src="DocImage" src="DocImage" />
<p><a href="https://www.quora.com/How-do-people-with-an-IQ-over-180-act-and-think/answer/Christopher-Matthew-Cavanaugh">&quot;How do people with IQs over 180 act and think?&quot;</a></p>
<p>[Note: The original Quora question concerned research by an author for developing a fictional &quot;genius&quot; type character.]</p>
<p>My answer:</p>
<p>A biographical investigation into exemplars may suggest traits for your character.</p>
<p>You may want to list out notable people with high intelligence. These are not always famous physicists, mathematicians, scientists, and philosophers, but some are, so I would include them. More interestingly, you should include those who are not.</p>
<p>Once you have a list of people, do the following:</p>
<p>Watch YouTube interviews with them. (not videos about them, but videos of them speaking). See Richard Feynman (unknown IQ, although he said it is 126. He is a prodigy, ignore those claims), Bertrand Russell, and others.</p>
<p>Read interviews and articles by members of the elite high IQ societies, such as Mega and others. Mega has a journal with many contributions, from authors you could investigate: <a href="http://www.megasociety.org/">The Mega Society</a>.</p>
<p>Read about the Terman Study.</p>
<p>Here’s a good interview:</p>
<p><a href="https://in-sightjournal.com/2015/07/01/paul-cooijmans-independent-psychometitor-administrator-the-giga-society-administrator-the-glia-society-part-one/">Paul Cooijmans: Independent Psychometitor; Administrator, The Giga Society; Administrator, The Glia Society (Part One)</a></p>
<p>Read classic papers on the topic of the needs of the profoundly gifted. This will give you some insight into their thinking and behavior as well. “The Outsiders”, by Grady Towers (late member of Mega, article via the Prometheus Society), is a classic:</p>
<p><a href="http://prometheussociety.org/wp/articles/the-outsiders/">The Outsiders | Grady M. Towers</a></p>
<p>This should give you some more to work with. Here’s one additional article on the exceptionally gifted:</p>
<p><a href="http://www.mattanaw.com/exceptgt.pdf">http://www.mattanaw.com/exceptgt.pdf</a></p>
<p>While I am not in the HighIQ range you are looking for (you are looking for folks in the millionth percentile), I have received feedback from very smart people indicating that some may share the characteristics listed in my article here:</p>
<p><a href="http://www.mattanaw.com/the-burden-of-having-too-many-ideas.html">The Burden of Having Too Many Ideas</a></p>
<p>Another popular article these days is “The Inappropriately Excluded”, which discusses the trouble some very intelligent people have with maintaining suitable employment.</p>
<p><a href="http://polymatharchives.blogspot.com/2015/01/the-inappropriately-excluded.html">The Inappropriately Excluded</a></p>
<p>Relatedly, there is this article from the Mega Society on having too many aptitudes. Very smart people can be into everything and often resist specialization. Some can master multiple fields and do not like to be constrained by narrow occupations.</p>
<p><a href="http://megasociety.org/noesis/138/aptitude.html">The Too Many Aptitudes Problem</a></p>
<p>Perhaps this can guide you to imagine how extremely intelligent people might behave, although these articles are skewed towards the special needs of intelligent people. Most have unique needs but that shouldn’t cause one to assume any great dysfunction. It depends on the individual like with anyone else.</p>
<p>I would say the best sources are real life interviews with highly intelligent people, as mentioned above.</p>
<p>By the way, it is wise to avoid advice from charlatans on Quora or other websites. Stick to journal articles for research. People are highly motivated to exaggerate their scores, and if anyone does tell you their score, you should confirm at least Mensa level membership. People who cannot confirm that are suspicious. A Mensa membership does not imply a score of 180, and a score at that level is not verifiable due to mathematical limitations (This is true above 160 SD 15. More specifically, for above a 1/30,000<sup>th</sup> rarity, 99.997th percentile). If anyone tells you they have a score at or above this they are likely lying to you. Any round figure provided is unlikely (there is less than a 1/10<sup>th</sup> likelihood even if the person actually took a <a href="http://www.mattanaw.com/how-and-where-can-I-take-an-accredited-iq-test-and-how-much-does-it-cost.html">valid IQ test</a>). 140,150,160,170,180 are the numbers immediately grasped by liars and exaggerators. [See my Mensa card below, and feel free to mail me at my Mensa email address: <a href="christopher.matthew.cavanaugh@member.mensa.org">christopher.matthew.cavanaugh@member.mensa.org</a>. Email verification depends on uptime of Mensa's email service. Either way, the card, that does not expire, is adequate. Others will usually provide no verification at all.] You can also check out a few of my accomplishments that can be found on my public facing resumé on <a href="https://www.linkedin.com/in/mattanaw">Linkedin</a>.</p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/christophermatthewcavanaugh-mensa-lifetime-web.jpg" src="images/christophermatthewcavanaugh-mensa-lifetime-web.jpg" />
<p><strong>My Mensa Lifetime Membership ID.</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/christopher-matthew-cavanaugh-mattanaw-harvard-id-card.jpg" src="images/christopher-matthew-cavanaugh-mattanaw-harvard-id-card.jpg" />
<p><strong>My Harvard ID. (No more shaving my head before getting ID photos taken, lol!)</strong></p>
<p>Answer also available here on Quora: <a href="https://www.quora.com/How-do-people-with-an-IQ-over-180-act-and-think/answer/Christopher-Matthew-Cavanaugh">https://www.quora.com/How-do-people-with-an-IQ-over-180-act-and-think/answer/Christopher-Matthew-Cavanaugh</a></p>
<p>[Mattanaw was not the author of the <a href="https://www.quora.com/How-do-people-with-an-IQ-over-180-act-and-think/answer/Christopher-Matthew-Cavanaugh">Quora question</a>. Only the answer.]</p>
