<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="how-do-you-balance-being-around-super-intelligent-people-and-retaining-your-sense-of-intelligence.html"
&&DocTitle="Retaining Your Sense of Intelligence Among Other Smart People"
&&DocSubtitle="Answering a Quora question about maintaining self-worth in the midst of superior talent."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="example.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="October 6<sup>th</sup> 2018"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/how-do-you-balance-being-around-super-intelligent-people-and-retaining-your-sense-of-intelligence.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/maintaining-self-worth-amidst-talent.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Retaining Your Sense of Intelligence Among Other Smart People"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="Answering a Quora question about maintaining self-worth in the midst of superior talent."


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Retaining Your Sense of Intelligence Among Other Smart People"
&&twitterCardDescription="Answering a Quora question about maintaining self-worth in the midst of superior talent"
&&twitterCardImage="http://www.mattanaw.com/images/maintaining-self-worth-amidst-talent.jpg"



--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center floated image transition visible" data-src="images/maintaining-self-worth-amidst-talent-web.jpg" src="images/maintaining-self-worth-amidst-talent-web.jpg" />
<p>Quora Question: <a href="https://www.quora.com/How-do-you-balance-being-around-super-intelligent-people-and-retaining-your-sense-of-intelligence/answer/Christopher-Matthew-Cavanaugh">How do you balance being around super intelligent people and retaining your sense of intelligence?</a></p>
<p>Here’s what has been helpful to me:</p>
<ul>
<li><strong>Really drive in the statement “I have value.”</strong> Say it to yourself frequently— when you are doing well, and when you are not doing so well. After a while it is harder to be thrown off balance, because this thought will come to your aid. The best part is that it is unquestionably true.</li>
<li><strong>Go back to personal experience.</strong> Your personal experiences and stories are unique, and are tied to your strengths and accomplishments. They are yours and no one shares them with you. People you meet who are intelligent have their own experiences as well, but they differ from yours. You have been caught in a moment of forgetting yourself, while thinking of experiences you didn’t have. You can regain stability by recalling your special moments and things that make your life unique and different.</li>
</ul>
<p>So two things mainly. <strong>Remember you have value no matter what, and that your personal experience is unique.</strong> It takes some time to regain balance, but that’s only because you’re focused on something else. Of course it takes time to transition from that state of mind. When you can reflect on yourself again memories will come that establish your worth. Even famous and accomplished people go through this when they witness someone else exhibiting other types of talents.</p>
<p>[Mattanaw was not the author of the <a href="https://www.quora.com/How-do-you-balance-being-around-super-intelligent-people-and-retaining-your-sense-of-intelligence/answer/Christopher-Matthew-Cavanaugh">Quora question</a>. Only the answer.]</p>
