<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="landing"

/* Doc Properties
&&htmlPageTitle="MATTANAW.COM"
&&DocTitle="MATTANAW.COM"
&&DocSubtitle="The official blog of MATTANAW"
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="attaining-heights-web.jpg"
&&ProfileImage="images/profile/christopher-matthew-cavanaugh-profile-focused.jpg"

/* Open Graph and Facebook Properties
&&PubDate="January 29<sup>th</sup> 2017"
&&EditDate="September 3<sup>rd</sup> 2018"
&&OgSourceUrl="http://www.mattanaw.com/mattanaw.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/attaining-heights-web.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle=""
&&OgSiteName=""
&&OgDescription=""


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle=""
&&twitterCardDescription=""
&&twitterCardImage=""



--><!--1--></pre>
<pre><!--2--></pre>
<p><a name="at-least-he-didnt-pull-a-gun"></a></p>
<p><em>Saturday, July 20<sup>th</sup>, 2019</em>, <time>5:16 PM AKST</time></p>
<h3>&quot;At Least He Didn't Pull a Gun&quot;</h3>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://youtube.com/embed/H_mq9qBNSI0" frameborder="0" allowfullscreen></iframe>
</div><br />
<p>&quot;At Least He Didn't Pull a Gun&quot;. <a href="video/medred-landfield-woebler-at-least-he-didnt-pull-a-gun.mp4">Original Full Sized</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a>. All Rights Reserved.</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<h3>Supporting My Work</h3>
<p>Donations are greatly appreciated from anyone who enjoys this site.</p>
<p>Funds go towards site maintenance, and would greatly support my work on my upcoming book on ethics.</p>
<p>Click below to donate, or else scan the QR code to provide what you can.</p>
<br />
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_donations" /><input type="hidden" name="business" value="mattanaw@mattanaw.com" /><input type="hidden" name="currency_code" value="USD" /><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" /><img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" /></form>
<pre><img width="200" class="ui small center image transition visible" data-src="images/donation-qr-code.png" src="images/donation-qr-code.png"></pre>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><a name="first-ride-down-my-driveway-with-my-new-fat-tire-bike"></a></p>
<h2>First ride down my driveway with my new fat tire bike.</h2>
<p><em>July 2<sup>nd</sup>, 2019</em></p>
<p><em>Video taken June 28<sup>th</sup>, 2019, and originally published on <a href="mattanaws-social-nuggets.html">Social Nuggets.</a></em></p>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/GxO9PcMfROA" frameborder="0" allowfullscreen></iframe>
</div><br />
<p>First ride down my driveway with my new fat tire bike. <a href="video/fat-tire-ride-down-driveway-to-gate-mattanaw-web.mp4">Original Web Sized</a> by Mattanaw. Written and edited solely by Christopher Matthew Cavanaugh. <a href="terms-conditions.txt">Terms and Conditions</a></p>
<p>I'm glad to say I purchased my very first fat tire bike.</p>
<p>Life in Alaska has felt incomplete without having a bike to ride.</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<p><a name="how-I-treat-trespassers-and-how-they-treat-me"></a></p>
<h2>How I Treat People Who Trespass and How They Treat Me</h2>
<p><em>June 16<sup>th</sup>, 2019</em></p>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://youtube.com/embed/XKtdglUsrGc" frameborder="0" allowfullscreen></iframe>
</div><br />
<p>How I Treat People Who Trespass and How They Treat Me. <a href="video/trespasser-video-craig-medred-web.mp4">Original Full Sized</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a>. All Rights Reserved.</p>
<p>I own this property, and initially, the police indicated they would enforce the law.</p>
<p>They did not follow through.</p>
<p>So this man is free to continue to ignore my objections.</p>
<p>And possibly commit any crime he likes, with APD's apathy working in his favor.</p>
<p>I have many photos of him trespassing on my property, even very late into the evening.</p>
<p>Just yesterday he was on my property, just entering, at 9:10 p.m.</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2>A Recent Hike Part of the Way Up to McHugh Peak.</h2>
<p><em>June 4<sup>th</sup>, 2019</em></p>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/ECbIL4dBWGo" frameborder="0" allowfullscreen></iframe>
</div><br />
<p>A Recent Hike Part of the Way Up to McHugh Peak. <a href="video/part-way-to-mchugh-peak-above-my-rv.mp4">Original Full Sized</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2>Along Came a Rainbow.</h2>
<p><em>June 4<sup>th</sup>, 2019</em></p>
<video width="320px" controls poster="images/rainbow-over-the-creek-mattanaw-1-video-preview.jpg">
  <source src="video/rainbow-by-the-rv.mp4">
  <source src="video/rainbow-by-the-rv.mov">
Browser ain't right.
</video>
<footer><a href="video/rainbow-by-the-rv.mp4">Video</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a></footer>
<p>Along Came a Rainbow.</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2>Stuck Between a Moose and a Winterbear</h2>
<p><em>February 7<sup>th</sup>, 2019</em></p>
<p><em>Series: Off Grid Living in Alaska</em></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-1-web.jpg" src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-1-web.jpg" />
<p>Last night on my property, my driveway was blocked by a large Moose and its calf, and I couldn't push them off the road with my truck due to undrivable snow depths and icy conditions. The moose do not like to exit the driveway, even with a truck driving behind them. On foot they are even more difficult. There was no way I could scare them off the road...</p>
<p><a href="stuck-between-a-moose-and-a-winterbear.html">Read more...</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2>Chained Up for Icy Dangers</h2>
<p><em>January 13<sup>th</sup>, 2019</em></p>
<p><em>Series: Off Grid Living in Alaska</em></p>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/IRxo2arAio0" frameborder="0" allowfullscreen></iframe>
</div><br />
<p>Chained Up for Icy Dangers on My Driveway <a href="chained-up-due-to-icy-dangers.mp4">Full Sized</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2>Windy Day at the RV</h2>
<p><em>Series: Off Grid Living in Alaska</em></p>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/aMMIIhGlQbo?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
</div><br /> 
<p>Windy Day at the RV <a href="windy-day-at-the-rv.html">Full Sized</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a></p>
<p><a href="windy-day-at-the-rv.html">See and read more...</a></p>
<h1>Recent Articles</h1>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="how-do-you-balance-being-around-super-intelligent-people-and-retaining-your-sense-of-intelligence.html">Retaining Your Sense of Intelligence Among Other Smart People</a></h2>
<p><em>October 6<sup>th</sup>  2018</em></p>
<img width="600" class="ui small left floated image transition visible" data-src="images/maintaining-self-worth-amidst-talent-web.jpg" src="images/maintaining-self-worth-amidst-talent-web.jpg" />
<p>Your personal experiences and stories are unique, and are tied to your strengths and accomplishments. They are yours and no one shares them with you. People you meet who are intelligent have their own experiences as well...</p>
<p><a href="how-do-you-balance-being-around-super-intelligent-people-and-retaining-your-sense-of-intelligence.html">Read more...</a></p>
<p><em>[Mattanaw was not the author of the Quora question. Only the answer.]</em></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="what-is-the-importance-of-logical-reasoning-in-critical-thinking.html">What is the Importance of Logical Reasoning in Critical Thinking?</a></h2>
<p><em>October 2<sup>nd</sup>  2018</em></p>
<img width="600" class="ui small right floated image transition visible" data-src="images/intuition-in-critical-thinking-web.jpg" src="images/intuition-in-critical-thinking-web.jpg" />
<p>When I was a teenager, many people, including my family members, viewed me as a negative person. This was because I was a very skilled defect finder. I had fun with it, and it was entertaining, so I never viewed myself that way. Yet when I see other people...</p>
<p><a href="what-is-the-importance-of-logical-reasoning-in-critical-thinking.html">Read more...</a></p>
<p><em>[Mattanaw was not the author of the Quora question. Only the answer.]</em></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="what-is-a-genius-and-who-can-become-one.html">What is a Genius and Who Can Become One?</a></h2>
<p><em>September 31<sup>st</sup>  2018</em></p>
<img width="600" class="ui small left floated image transition visible" data-src="images/what-is-a-genius-web.jpg" src="images/what-is-a-genius-web.jpg" />
<p>...maybe you shouldn’t be thinking about how to become a genius. That is not a concept with a clear scientific application. Instead, think about how to become a master of something...</p>
<p><a href="what-is-a-genius-and-who-can-become-one.html">Read more...</a></p>
<p><em>[Mattanaw was not the author of the Quora question. Only the answer.]</em></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="why-do-so-many-intelligent-people-have-a-hard-time-socializing.html">Why Do So Many Intelligent People Have a Hard Time Socializing?</a></h2>
<p><em>September 30<sup>th</sup>  2018</em></p>
<img width="600" class="ui small left floated image transition visible" data-src="images/why-is-it-hard-for-high-iq-people-to-socialize-web.jpg" src="images/why-is-it-hard-for-high-iq-people-to-socialize-web.jpg" />
<p>Everyone wants to talk to someone they can relate to. Highly intelligent people think of complex things. Often these things are built off of topics that most people only consider in late adulthood. The difference is that highly intelligent people may have considered these things already early in childhood...</p>
<p><a href="why-do-so-many-intelligent-people-have-a-hard-time-socializing.html">Read more...</a></p>
<p><em>[Mattanaw was not the author of the Quora question. Only the answer.]</em></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="how-do-people-with-iqs-over-180-act-and-think.html">How Do People with IQs Over 180 Act and Think?</a></h2>
<p><em>September 18<sup>th</sup>  2018</em></p>
<img width="600" class="ui small left floated image transition visible" data-src="images/iq-over-180-web.jpg" src="images/iq-over-180-web.jpg" />
<p>A response to a Quora question concerning how very intelligent people behave, for a writer planning to include a &quot;genius&quot; type character in their upcoming work of fiction.</p>
<p>This post includes links to well known articles circulated within the HighIQ community (Mensa groups and elsewhere), and will be expanded and edited routinely to provide more accurate details and sources.</p>
<p><a href="how-do-people-with-iqs-over-180-act-and-think.html">Read more...</a></p>
<p><em>[Mattanaw was not the author of the Quora question. Only the answer.]</em></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="how-and-where-can-I-take-an-accredited-iq-test-and-how-much-does-it-cost.html">How and Where Can I Take an Accredited IQ Test?</a></h2>
<p><em>September 17<sup>th</sup>  2018</em></p>
<img width="600" class="ui small left floated image transition visible" data-src="images/getting-proctored-accredited-iq-test-web.jpg" src="images/getting-proctored-accredited-iq-test-web.jpg" />
<p>Personally, I would plan to take several tests. Mensa testing is the cheapest route for sure, but it is useful to go to a licensed psychologist for different kinds of tests. Remember- no single test can give you a definitive answer regarding your intelligence. You must rely on a test battery, or combination of tests, to really get an appreciation...</p>
<p><a href="how-and-where-can-I-take-an-accredited-iq-test-and-how-much-does-it-cost.html">Read more...</a></p>
<p><em>[Mattanaw was not the author of the Quora question. Only the answer.]</em></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="bag-o-marbles.html">Bag O' Marbles</a></h2>
<p><em>April 28<sup>th</sup>  2018</em></p>
<img width="600" class="ui small right floated image transition visible" data-src="images/orange-marble-small.jpg" src="images/orange-marble-small.jpg" />
<p>Suppose someone gives you a bag of infinite marbles. Along with the bag, this person gives you a &quot;special&quot; marble that is blue and white and green, and has a small picture of you painted on it, almost to scale (you are basically a microscopic spec on the marble). The only way to confirm...</p>
<p><a href="bag-o-marbles.html">Read more...</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="strongboy-hartsfield-vegan.html">Historic Phill Hartsfield Knife for Sale</a></h2>
<p><em>November 29<sup>th</sup>  2017</em></p>
<img width="600" class="ui small right floated image transition visible" data-src="images/vegan-strongboy-1.jpg" src="images/vegan-strongboy-1.jpg" />
<p>Custom historic knife for sale, designed and built by the late Phill Hartsfield.</p>
<p>The only strongboy knife designed by Phill himself to be vegan.</p>
<p>Serious inquiries only, asking price $17,000 USD.</p>
<p><a href="strongboy-hartsfield-vegan.html">Read more...</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="evening-visit-from-a-moose-in-anchorage.html">Evening Visit From a Moose in Anchorage</a></h2>
<p>In the Series on Life in Alaska</p>
<p><em>March 12<sup>th</sup>  2017</em></p>
<p>A few weeks ago we were lucky enough to be visited by a large bull moose at night. Moose are dangerous (one of the most dangerous animals in Alaska), so I made sure to keep my distance while capturing this video...</p>
<p><a href="evening-visit-from-a-moose-in-anchorage.html">Read more...</a></p>
<iframe width="300" src="https://www.youtube.com/embed/Usy7s6wFbZk" frameborder="0"   allowfullscreen></iframe> 	
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="flight-from-tangier-island.html">A Flight from Tangier Island</a></h2>
<p>In the Series on Flying Small Aircraft</p>
<p><em>January 28<sup>th</sup>  2017</em></p>
<p>Tangier Island is a small crabbing town located in the Chesapeake Bay, within the state of Virginia, in the USA. It has unique qualities because of its relative isolation from the rest of the region. In this video I am flying with my instructor Tom and friend Alex after a day trip from KGAI in Gaithersburg, Maryland, in 2012.</p>
<p><a href="flight-from-tangier-island.html">Read and see more...</a></p>
<iframe width="300" src="https://www.youtube.com/embed/T6zhf67fqXM?list=PLBMEnIFCFYTFH8ipTuMWZapd08b7oslrg?autoplay=0" frameborder="0"   allowfullscreen></iframe> 	
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="wilderness-is-close.html">Wilderness is Close to Anchorage</a></h2>
<p>In the Series on Life in Alaska</p>
<p><em>January 26<sup>th</sup>  2017</em></p>
<p>Before arriving in Anchorage, and Alaska generally, I considered national parks to be the ultimate destinations for scenic beauty. The importance of these parks for preservation, and for providing ease of access to wilderness is unquestioned. However...</p>
<p><a href="wilderness-is-close.html">Read and see more...</a></p>
<iframe width="300" src="https://www.youtube.com/embed/HdJ1sxqPKU0?autoplay=0" frameborder="0" allowfullscreen></iframe>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="the-burden-of-having-too-many-ideas.html">The Burden of Having Too Many Ideas</a></h2>
<p>An Aside in the Series on Managing Procrastination</p>
<p><em>January 22<sup>nd</sup>  2017</em></p>
<img width="600" class="ui small right floated image transition visible" data-src="images/fireworks.jpg" src="images/fireworks.jpg" />
<p>Wouldn't it be great to have an endless supply of incredible ideas? Ask anyone and they will say &quot;Yes! That would be amazing!&quot; But what would it be like to be extremely creative? One has to be a different kind of person to continually have ideas. After all, it is not the norm, so surely there are downsides.</p>
<p>It turns out it can be quite a handicap...</p>
<p><a href="the-burden-of-having-too-many-ideas.html">Read more...</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="no-you-really-wont-see-the-whales-and-aurora-borealis.html">No, You Really Won't See the Whales and Aurora Borealis</a></h2>
<p><em>January 11<sup>th</sup>  2017</em></p>
<img width="600" class="ui small right floated image transition visible" data-src="images/aurora-borealis.jpg" src="images/aurora-borealis.jpg" />	
<p>If you could travel to Alaska, what would you want to see? Suppose you had a week to visit for the first time.</p>
<p>I know what I would want to see. Whales. Lots of them. Humpbacks, Orcas, Belugas and Blue Whales. I would also want to see starving grizzley bears chomping on massive, flying, sockeyed salmon...</p>
<p><a href="no-you-really-wont-see-the-whales-and-aurora-borealis.html">Read more...</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2><a href="strategy-one-tips-and-tools-managing-procrastination.html">Managing Procrastination, Part One</a></h2>
<p>The first in a series on managing motivation and attention, with an emphasis on our shared experiences in education. This covers the first strategy, of using keywords and tools to handle procrastination.</p>
<p><em>January 10<sup>th</sup>  2017</em></p>
<img width="600" class="ui small left floated image transition visible" data-src="images/frozen-inactive.jpg" src="images/frozen-inactive.jpg" />
<p>If you find yourself delaying and avoiding something you need to do, what do you do? What strategies do you have handy?</p>
<p>If you're anything like how I was, you don't use a strategy at all. Even if you wanted to use a strategy, you wouldn't know which one was best for your situation. Instead, you may not know where to begin, and continue to worry and procrastinate until a mysterious spark or switch finally activates you. You are not alone in this—most people are in this situation because treatments and techniques were not made available to us. Our culture does not instill effective methods for increasing our motivation.</p>
<p><a href="strategy-one-tips-and-tools-managing-procrastination.html">Read more...</a></p>
