<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="landing"

/* Doc Properties
&&htmlPageTitle="InkyFibers™"
&&DocTitle="InkyFibers<sup>TM</sup>"
&&DocSubtitle="Collections of Mattanaw's Papers, New and Old."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/inky-fibers-thoth-mattanaw-1-web.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="February 16<sup>th</sup> 2019"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/rational-times.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/inky-fibers-thoth-mattanaw-1-master.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="InkyFibers™"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="Collections of Mattanaw's Papers, New and Old."

/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="InkyFibers™"
&&twitterCardDescription="Collections of Mattanaw's Papers, New and Old."
&&twitterCardImage="http://www.mattanaw.com/images/inky-fibers-thoth-mattanaw-1-master.jpg"




--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center image transition visible" data-src="DocImage" src="DocImage">
<h1>InkyFibers<sup style="font-size: 14px;">TM</sup></h1>
<p>Collections of Mattanaw's Longhand Papers.</p>
<p><em>Author: Christopher Matthew Cavanaugh</em></p>
<p><em>Published: February 16<sup>th</sup> 2019</em></p>
<p><em>Edited: Original Edition</em></p>
<p><a href="terms-conditions.txt">Terms and Conditions</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p>Welcome to my archive of papers from various notebooks and documents prepared over the years.</p>
<p>Since this is an archive, not everything included in scans would be of immediate interest to readers. However, the documents are replete with ideas worthy of development.</p>
<p>Many of these will be edited and included in my upcoming book on ethics, while others will offer context for new articles that will appear on this site.</p>
<p>Many of these papers include thoughts that are closer in time to the original ideas, from which later ideas were built. I intend to link my future writings back to these documents, for transparency.</p>
<p>My thought has developed considerably from these earlier insights, but I think it is important to be willing to discuss not only the rationale for ideas, but their genesis. An idea's origin <em>is</em> important for analysis. An analysis of the origin of an idea can reveal flaws as to the reasoning, and assumptions unjustified, that might be masked by the writing itself, through sophisticated rationalizations. While I strive to avoid this, I do not know to what extent my views are influenced by biases.</p>
<p>Origins of arguments are important enough, that some will strive to completely cover them up.</p>
<p>If I were indoctrinated as a child to have a specific orientation, then I think that would be important to convey.</p>
<p>I wish to achieve a very great level of transparency in my corpus, and to achieve this I will include potentially embarassing details as they arise. Full disclosure, like with <a target="_blank" href="https://en.wikipedia.org/wiki/Confessions_(Rousseau)">Rousseau's Confessions</a>, but extended more fully into the intellectual domain as well.</p>
<p>There is no division in my mind, between my life, and my intellectual productions. There's no pretense of complete objectivity here.</p>
<p>Below please find a list of documents to be included. Some are ready for download, some are in preparation.</p>
<ol>
<li><a href="rational-times.html">Rational Times</a>. Circa 2003-2005. <a href="docs/rational-times-complete-christopher-matthew-cavanaugh.pdf">[PDF]</a>.</li>
<li>Dark Greek Notebook. Circa 2015. &quot;Imagination and Filtration&quot;. Early notes going into my work on attention. <a href="docs/dark-green-pocket-notebook-circa-2015-scanned-29092019.pdf">[PDF]</a>.</li>
<li>Personal Forms. Circa 2003-2009. [Scanned. Uploading October, 2019]</li>
<li>Sand Notebook. March 27<sup>th</sup>, 2004, through May 13<sup>th</sup> 2006. [Scanned, Uploading October 2019]</li>
<li>Olive Notebook. Circa 2005. [Scanned, Uploading October 2019]</li>
<li>Beige Notebook. Circa 2005. [Scanned, Uploading October 2019]</li>
<li>Black Notebook One. Circa 2008. [Scanned, Uploading October 2019]</li>
<li>Black Notebook Two. Circa 2008-2014. [Scanned, Uploading October 2019]</li>
<li>The Loose Papers. 2001-2019. [Unscanned]</li>
</ol>
<p>This is the complete or nearly complete list of paper related archives. For creative reasons, I'm returning to writing in notebooks. However, mostly everything goes straight into digital form these days. All scans of existing materials should be complete and available here by May 1<sup>st</sup> 2019.</p>
