<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="landing"

/* Doc Properties
&&htmlPageTitle="WordlyCoinages™"
&&DocTitle="WordlyCoinages"
&&DocSubtitle="Wordly Inventions of the Coinage Nature"
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/wordly-coinages-make-it-a-word-already-mattanaw-web.png"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="March 31<sup>st</sup>, 2019"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/mattanaws-wordly-coinages.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/wordly-coinages-make-it-a-word-already-mattanaw-master.png"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="WordlyCoinages"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="Wordly Inventions of the Coinagy Nature"

/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="WordlyCoinages™"
&&twitterCardDescription="Wordly Inventions of a Coinagy Nature"
&&twitterCardImage="http://www.mattanaw.com/images/wordly-coinages-make-it-a-word-already-mattanaw-master.png"




--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center image transition visible" data-src="DocImage" src="DocImage">
<br />
<h1>DocTitle<sup style="font-size: 14px;">TM</sup></h1>
<p>DocSubtitle</p>
<p><em>Author: Christopher Matthew Cavanaugh</em></p>
<p><em>Published: April 20<sup>th</sup>, 2019</em></p>
<p><em>Edited: Original Edition</em></p>
<p>Mastery of a language includes word play; real-time word construction. Words afresh, or conjugates, and other variants.</p>
<p>Once you master your language verbally, you'll find yourself constructing intelligible word variations without having to consult a dictionary. What is the suffix that goes on this or that word? Attempt one and if it is immediately intelligible, you got it right or nearly right. If it feels right enough to hold onto, then you got it completely right.</p>
<p>When it feels right enough it may be the variant that you'd find in the dictionary, but maybe not.</p>
<p>It is not in the norm to use a dictionary at any time.</p>
<p>Be inventive too. Make completely new words to bond with your friends. You will have these words in common as long as you can remember your friends and the words.</p>
<p>Maybe as long as you live.</p>
<p>Use the freedoms that are available to you, and don't let people take them away.</p>
<p><a href="terms-conditions.txt">Terms and Conditions</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<!-- posts -->
<p><a name="speakdream"></a></p>
<p><strong>Speakdream.</strong> (spēk'drēm)</p>
<p><em>Noun</em></p>
<blockquote>
<ol>
<li>A dream that is spoken aloud as it is dreamt. A type of daydream.</li>
</ol>
</blockquote>
<p>Adjectival and verb forms, and others, can inferred by speakers of English. If it feels right or natural enough, it is correct.</p>
<p>Coined on <em>Saturday, May 25<sup>th</sup> 2019</em>, <time>~11:15 PM AKST</time></p>
<p>Coined by: MATTANAW, Christopher Matthew Cavanaugh</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><a name="sleepdream"></a></p>
<p><strong>Sleepdream.</strong> (slēp'drēm)</p>
<p><em>Noun</em></p>
<blockquote>
<ol>
<li>A variant of dream.</li>
</ol>
</blockquote>
<p>Adjectival and verb forms can inferred by speakers of English. If it feels right or natural enough, it is correct.</p>
<p>Coined on <em>Saturday, May 25<sup>th</sup> 2019</em>, <time>~11:15 PM AKST</time></p>
<p>Coined by: MATTANAW, Christopher Matthew Cavanaugh</p>
<p>Perhaps others have used it. In that case, credits to them. However, this coinage was made independently, and I laud myself for creating the same.</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><a name="endoamorph"></a></p>
<p><strong>Endoamorph.</strong> (ˈendəˌəˈmôrf)</p>
<p><em>Noun</em></p>
<blockquote>
<ol>
<li>An endomorph who is somewhat amorphous in appearance.</li>
</ol>
</blockquote>
<p><em>Justification</em> (as if one were needed):</p>
<p>I've been an endoamorph, and am an endomorph, so I have permission to coin this.</p>
<p>Coined on <em>Saturday, February 23<sup>rd</sup> 2019</em>, <time>2:26 PM AKST</time></p>
<p>Coined by: MATTANAW, Christopher Matthew Cavanaugh</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><a name="gaps-in-language-and-missing-or-impossible-analogies"></a></p>
<p><em>Published: Sunday, March 19<sup>th</sup>, 2019</em>, <time>3:12 PM AKST</time></p>
<p><em>Originally published: Sunday, March 19<sup>th</sup>, 2019</em>, <time>~2:35 PM AKST</time> on my <a href="christopher-matthew-cavanaugh-thoughtstream.html#gaps-in-language-and-missing-or-impossible-analogies">Thoughtstream</a>:</p>
<h3>Is it Really an Analogy?</h3>
<p>A friend recently posted an interesting analogy puzzle on Facebook, for which the answer was uncertain, because of a gap in the English language.</p>
<p>This is not unusual. It is very common for us to search for a word that is an antonym of another more familiar word, because we want to apply the same concept, in a converse situation. Whenever there seems to be a word missing for an occasion, an analogy could be formed, such that there would not be a word providing the answer in the language.</p>
<p>Consider this example:</p>
<p>Idyllic:Utopia::Hellish:<fill-in></p>
<p>What is the answer?</p>
<p>In my days tutoring, I had a High School student ask me:</p>
<p>What is the opposite of a Utopia?</p>
<p>I asked myself this same question myself, after reading some of Moore's Utopia, and reflecting on George Orwell's 1984, and came to the answer after some pause, as is quite characteristic for me, of &quot;Dystopia.&quot;</p>
<blockquote>
<p>(Aside: I have an excellent memory but have to fight against similar words to which I'm more primed to respond with, or otherwise have better availability. Everyone experiences tip of the tongue, but this appears to be a quirk that I'm not sure I've observed in anyone I met previously. I'm certain others experience the same but I have not encountered anyone who experienced it in quite the same way. Because after some time elapses, the word and quite a bit else becomes completely and rapidly accessible. A large chunk of memory simply isn't available when first prompted at times. I mention this because it will become relevant in other posts.)</p>
</blockquote>
<p>Answer:</p>
<p>Idyllic:Utopia::Hellish:Dystopia</p>
<p>In this case there is an answer. But what if the word &quot;Dystopia&quot; did not exist?</p>
<p>In that case, it is my view, that there probably is not an answer to the analogy, unless one can coin a word that truly fulfills the analogy correctly. By this I mean that it is a true analogy, without ambiguity, such that there is at least one denotation that clearly parallels the denotation of the other (meaning a complete dictionary would have a numbered entry for each word), and not a partial match among denotations, or a partial match among connotations. A word could also be borrowed from another language, which is essentially the same as a coinage, so I don't see the two as essentially different, since the goal is simply to fill a gap in native language another word that fulfills some criterion of comparison.</p>
<p>However, there are unusual cases where the logic of the words themselves allows for no parallel at all. Such that a word borrowed from another language, or a coinage, does not establish an analogy, because the conditions of successful analogy cannot be established in the way hoped for.</p>
<p>This relates to the analogy that my friend posted. I will not repeat that analogy here for the moment, without his permission, but only mention that it is interesting and involved a probable structural asymmetry, meaning no analogy could be formed, at least in the way indicated, in what could be expressed about our feelings of past events, versus what we imagine about the future.</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
