<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="landing"

/* Doc Properties
&&htmlPageTitle="MemeticClusters™"
&&DocTitle="MemeticClusters"
&&DocSubtitle="Random Assemblages of Words and Images. Concoctions of a Collagist."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/memetic-clusters-web.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="March 17<sup>th</sup> 2019"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/mattanaws-memetic-clusters.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/memetic-clusters-master.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Memetic Clusters™"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="Random Assemblages of Words and Images. Concoctions of a Collagist."

/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="MemeticClusters™"
&&twitterCardDescription="Random Assemblages of Words and Images. Concoctions of a Collagis."
&&twitterCardImage="http://www.mattanaw.com/images/memetic-clusters-master.jpg"




<!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center image transition visible" data-src="images/mattanaws-memetic-clusters-flag.jpg" src="images/mattanaws-memetic-clusters-flag.jpg">
<br />
<h1>DocTitle<sup style="font-size: 14px;">TM</sup></h1>
<p>DocSubtitle</p>
<p><em>Author: Christopher Matthew Cavanaugh</em></p>
<p><em>Published: April 20<sup>th</sup> 2019</em></p>
<p><em>Edited: Original Edition</em></p>
<p><a href="terms-conditions.txt">Terms and Conditions</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>New memes to be added soon</em></p>
<!--

<a name=""></a>

*Day, Month 1<sup>st</sup> 2019*,&nbsp;<time>12:00 PM AKST</time>

### Title

<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>

-->
