<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="landing"

/* Doc Properties
&&htmlPageTitle="Wordly Coinages™"
&&DocTitle="Wordly Coinages"
&&DocSubtitle="Wordly Inventions of the Coinage Nature"
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/wordly-coinages-web.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="March 17<sup>th</sup> 2019"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/wordly-coinages.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/wordly-coinages-master.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Wordly Coinages"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="Wordly Inventions of the Coinage Nature"

/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Wordly Coinages™"
&&twitterCardDescription="Wordly Inventions of the Coinage Nature""
&&twitterCardImage="http://www.mattanaw.com/images/wordly-coinages-master.jpg"




--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center image transition visible" data-src="DocImage" src="DocImage">
<br />
<h1>DocTitle<sup style="font-size: 14px;">TM</sup></h1>
<p>DocSubtitle</p>
<p><em>Author: Christopher Matthew Cavanaugh</em></p>
<p><em>Published: March 18<sup>th</sup> 2018</em></p>
<p><em>Edited: Original Edition</em></p>
<p><a href="terms-conditions.txt">Terms and Conditions</a></p>
