<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="landing"

/* Doc Properties
&&htmlPageTitle="SocialNuggets™"
&&DocTitle="SocialNuggets™"
&&DocSubtitle="Mattanaw's primary social channel."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/mattanaws-social-stream-web.jpg"
&&ProfileImage="images/profile/mattanaw-christopher-matthew-cavanaugh-princeville-hanalei-profile.jpg"

/* Open Graph and Facebook Properties
&&PubDate="December 12<sup>th</sup> 2018"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/rational-times.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/mattanaws-social-stream-master.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="SocialNuggets™"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="Mattanaw's primary social channel."

/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="SocialNuggets™"
&&twitterCardDescription="Mattanaw's primary social channel."
&&twitterCardImage="http://www.mattanaw.com/images/mattanaws-social-stream-web.jpg"




--><!--1--></pre>
<pre><!--2--></pre>
<h1>DocTitle</h1>
<p>DocSubtitle</p>
<p><em>DocAuthor</em></p>
<p><em>PubDate</em></p>
<p><em>EditDate</em></p>
<p><a href="terms-conditions.txt">Terms and Conditions</a> Exclusively written, edited (when that happens), and maintained by Christopher Matthew Cavanaugh. All Rights Reserved.</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<h3>Supporting My Work</h3>
<p>Donations are greatly appreciated from anyone who enjoys this site.</p>
<p>Funds go towards site maintenance, and would greatly support my work on my upcoming book on ethics.</p>
<p>Click below to donate, or else scan the QR code to provide what you can.</p>
<br />
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_donations" /><input type="hidden" name="business" value="mattanaw@mattanaw.com" /><input type="hidden" name="currency_code" value="USD" /><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" /><img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" /></form>
<pre><img width="200" class="ui small center image transition visible" data-src="images/donation-qr-code.png" src="images/donation-qr-code.png"></pre>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<!-- Page Content -->
<p><em>September 30<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/fat-tire-bike-truck-and-surrounding-mountains-1-web.jpg" src="images/fat-tire-bike-truck-and-surrounding-mountains-1-web.jpg">
<br />
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/fat-tire-bike-truck-and-surrounding-mountains-2-web.jpg" src="images/fat-tire-bike-truck-and-surrounding-mountains-2-web.jpg">
<br />
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/fat-tire-bike-truck-and-surrounding-mountains-3-web.jpg" src="images/fat-tire-bike-truck-and-surrounding-mountains-3-web.jpg">
<br />
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/fat-tire-bike-truck-and-surrounding-mountains-4-web.jpg" src="images/fat-tire-bike-truck-and-surrounding-mountains-4-web.jpg">
<br />
<p>Just some recent shots of the termination dust coming down Mattanaw's Peak (also McHugh Peak),</p>
<p>captured just after exiting my RV a recent morning.</p>
<p>@mattanaw.rvs @mattanaw @mattanaw.travels</p>
<p>#anchorage #mountains #alaska #fattire #cycling #outdoors #wilderness #chugach #stateparks #nationalparks #land #landscape #solitude #relaxed #snow #trees #autumn #fall</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>September 30<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/chaco-canyon-camping-and-fat-tire-cycling-1-web.jpg" src="images/chaco-canyon-camping-and-fat-tire-cycling-1-web.jpg">
<br />
<p>Here's a shot from my road trip from August, after visiting a client/partner in Albuquerque, NM.</p>
<p>This was my first trip trying to do some minimalist camping.</p>
<p>1 person tent, with no fly in this case— out in the open skies.</p>
<p>I felt a little exposed! But it was nice. I slept in the tent exactly as it is shown here.</p>
<p>This is at Chaco Canyon in New Mexico.</p>
<p>It's a little remote, and harder to access than some other parks, but it is worth it!</p>
<p>@mattanaw @mattanaw.arts @mattanaw.travels @mattanaw.adventure</p>
<p>#cacocanyon #chaco #canyon #southwest #roadtrip #cycling #camping #fattire #clearskies #intheopen #openskies #desert #relics #anthropology #nationalparks #nationalmonuments #america #newmexico #albuquerque #santafe #remote #offthebeatenpath #pictographs #petroglyphs #mesas #quiet #solitude #photography #parks #dryair #clean #usa #exploration #adventure</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>September 29<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/spinning-wheel-art-seattle-tacoma-international-airport-1-web.jpg" src="images/spinning-wheel-art-seattle-tacoma-international-airport-1-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/spinning-wheel-art-seattle-tacoma-international-airport-2-web.jpg" src="images/spinning-wheel-art-seattle-tacoma-international-airport-2-web.jpg">
<br />
<p>Some spinning art wheels from Seattle Tacoma International Airport.</p>
<p>A nice sight at the end of a very long 10,000 mile plus roadtrip, from a couple months ago.</p>
<p>This was just after visiting Olympic National Park in Washington State.</p>
<p>It was a relaxing sight after a rush to the airport. Nice addition!</p>
<p>@mattanaw @mattanaw.arts @mattanaw.travels</p>
<p>#seattle #tacoma #washingtonstate #washington #roadtrip #flighthome #art #colors #spirals #design #shuttlewait #longtrip #omwhome #anchorage #alaska #america #unitedstates #artist #northwest #pacificnorthwest #airport #flights #illusion #perception #photography #experiences</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>September 24<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/homer-treehouses-and-chickens-43-web.jpg" src="images/homer-treehouses-and-chickens-43-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/homer-treehouses-and-chickens-47-web.jpg" src="images/homer-treehouses-and-chickens-47-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/homer-treehouses-and-chickens-42-web.jpg" src="images/homer-treehouses-and-chickens-42-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/homer-treehouses-and-chickens-3-web.jpg" src="images/homer-treehouses-and-chickens-3-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/homer-treehouses-and-chickens-11-web.jpg" src="images/homer-treehouses-and-chickens-11-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/homer-treehouses-and-chickens-1-web.jpg" src="images/homer-treehouses-and-chickens-1-web.jpg">
<br />
<p>These photos are from a getaway trip to Homer, AK, where I spent a night in a treehouse.</p>
<p>I plan to return to stay in other rooms, because they are all dramatically different. Not all of them are treehouses.</p>
<p>It's an artsy place to visit, that includes cabins, a garden, and chickens aplenty.</p>
<p>There are horses and a very nice view of the nearby ridgeline as well.</p>
<p>Take a look. The place is called <a href="https://www.homercottonwoodcabins.com">Cottonwood Cabins</a>.</p>
<p>@mattanaw @mattanaw.travels</p>
<p>#ak #alaska #homer #cottonwoodcabins @cottonwoodcabins #cabins #treehouse #fireweed #ridges #mountains #boutique #hotels #art #artsy #design #decor #custom #handmade #builtbyhand #building #gardens #fields #chickens</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>June 30<sup>th</sup>, 2019</em></p>
<p><em>Video taken June 28<sup>th</sup>, 2019</em></p>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/GxO9PcMfROA" frameborder="0" allowfullscreen></iframe>
</div><br />
<p>First ride down my driveway with my new fat tire bike. <a href="video/fat-tire-ride-down-driveway-to-gate-mattanaw-web.mp4">Original Web Sized</a> by Mattanaw. Written and edited solely by Christopher Matthew Cavanaugh. <a href="terms-conditions.txt">Terms and Conditions</a></p>
<p>I'm glad to say I purchased my very first fat tire bike.</p>
<p>Life in Alaska has felt incomplete without having a bike to ride.</p>
<p>I forgot how freeing it is to be able to get around on a bicycle.</p>
<p>Cycling is one of my first loves.</p>
<p>I let myself forget about it but now I can say I remember one of the things,</p>
<p>that makes me truly happy.</p>
<p>...</p>
<p>Several companies helped me get set up, but ultimately I grabbed it from The Bicycle Shop on Northern Lights. Thanks for your help! Thanks to Chain Reaction and REI for getting me on track too.</p>
<p>@mattanaw @mattanaw.travels</p>
<p>#alaska #cycling #mattanaw #anchorage #southanchorage #fattire #fattirebikes #thebycicleshop #chainreaction #rei #happy #simplethings #simplicity #exercise #commuting #experthelp #allseasonbike #fourseason #offroad #onroad #fitness #outdoors</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>June 22<sup>nd</sup>, 2019</em></p>
<p><em>Originally posted on June 4<sup>th</sup>, 2019, at <a href="off-grid-living-in-alaska.html">off-grid-living-in-alaska.html</a></em></p>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/ECbIL4dBWGo" frameborder="0" allowfullscreen></iframe>
</div><br />
<p>A Recent Hike Part of the Way Up to McHugh Peak. <a href="video/part-way-to-mchugh-peak-above-my-rv.mp4">Original Full Sized</a> by Mattanaw. Written and edited solely by Christopher Matthew Cavanaugh. <a href="terms-conditions.txt">Terms and Conditions</a></p>
<p>This is from an attempt to summit McHugh peak.</p>
<p>I like to think of it as Mattanaw's peak.</p>
<p>In fact, that is another name for it now, since that's what I call it.</p>
<p>This is the peak that is visible from my property.</p>
<p>It is snowy for most of the year.</p>
<p>I couldn't quite make it to the top, because my heels were being rubbed sore by the back of my boots.</p>
<p>But I made it close, and now it's something to look forward to for next time!</p>
<p>Yay for hiking adventures in Alaska!</p>
<p>@mattanaw @mattanaw.rvs</p>
<p>#summit #nearamountainpeak #rv #offgrid #country #countryliving #alaska #anchorage #ak #farnorth #mountains #camping #climbing #northwest #usa #america</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>June 18<sup>rd</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/chainsawing-until-it-cant-chainsaw-anymore-1-web.jpg" src="images/chainsawing-until-it-cant-chainsaw-anymore-1-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/chainsawing-until-it-cant-chainsaw-anymore-2-web.jpg" src="images/chainsawing-until-it-cant-chainsaw-anymore-2-web.jpg">
<br />
<p>Spent some time this late morning clearing out bushes for construction.</p>
<p>In the near future, I will have a new home on my property.</p>
<p>Built by hand? Mostly, but not completely. Not completely in the old-school ways.</p>
<p>I don't plan to use a hand drill.</p>
<p>Nevertheless, it is closer to homesteading,</p>
<p>than the trespasser activities are.</p>
<p>Keep checking back to see more about the trespasser activities.</p>
<p>@mattanaw @mattanaws.travels @mattanaw.rvs</p>
<p>#hiking #rv #offgrid #country #countryliving #alaska #anchorage #ak #farnorth #mountains #chainsaw #construction #development #building #clearing #clearinglightly #wood #yardwork #landstewardship #livingoffthelandtoadegree #livingthedream #alders #supposedlytheyhavecanbeusedforsyrup #aldersyrup #willsee</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>June 3<sup>rd</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/rainbow-over-the-creek-mattanaw-1-web.jpg" src="images/rainbow-over-the-creek-mattanaw-1-web.jpg">
<br />
<p>@mattanaw @mattanaws.travels @mattanaw.rvs</p>
<p>#rv #offgrid #country #countryliving #alaska #anchorage #ak #farnorth #mountains #rainbows #photography #iphonex #landscape #breakintheclouds #prismatic #polychromatic #spectral #opalescent #versicolor #opaline #crackedoutthethesaurus #whatareotherwordslikerainboworrainbowlikeinuse #rainy #rainwaswelcometoo</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>June 2<sup>nd</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/partly-to-summit-mchugh-peak.png" src="images/profile/partly-to-summit-mchugh-peak.png">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hike-to-mchugh-1-web.jpg" src="images/hike-to-mchugh-1-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hike-to-mchugh-2-web.jpg" src="images/hike-to-mchugh-2-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hike-to-mchugh-3-web.jpg" src="images/hike-to-mchugh-3-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hike-to-mchugh-4-web.jpg" src="images/hike-to-mchugh-4-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hike-to-mchugh-5-web.jpg" src="images/hike-to-mchugh-5-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hike-to-mchugh-6-web.jpg" src="images/hike-to-mchugh-6-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hike-to-mchugh-7-web.jpg" src="images/hike-to-mchugh-7-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hike-to-mchugh-8-web.jpg" src="images/hike-to-mchugh-8-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hike-to-mchugh-9-web.jpg" src="images/hike-to-mchugh-9-web.jpg">
<br />
<p>New photos from the property, and my recent hike to up to the nearby mountain peak.</p>
<p>At the moment, there is no one living between myself and the mountains shown.</p>
<p>Video footage of my failed summit attempt to follow. (I made it to a secondary peak nearby before my heals were causing problems).</p>
<p>@mattanaw @mattanaws.travels @mattanaw.rvs</p>
<p>#mountains #alaska #anchorage #lovinglife #outdoors #sierraclub #nationalgeographic #naturalist #hikingalone #solitude #beauty #scenic #landscape #landscapephotography #ak #akspring #homesweethome</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>March 16<sup>th</sup>, 2019</em></p>
<br />
<p><a href="christopher-matthew-cavanaugh-thoughtstream.html#beware-of-the-ranker">Beware of the Ranker</a>.</p>
<p>https://bit.ly/2W4mWiV</p>
<p>It's an important method to be aware of.</p>
<p>Used by</p>
<p>The jealous.</p>
<p>The narcissistic.</p>
<p>And the obsessive.</p>
<p>Don't be contained!</p>
<p>Different people know the different aspects of you. Don't get stuck in one person's narrowness!</p>
<p>@mattanaw @mattanaws.mind @mattanaw.arts</p>
<p>#darktriad #avoid #counter #psychology #defense #self-defense #watchout #notnarrow #bestrong #youremore #more #staypositive #doyou #uncontained #happy #open #multitalented #human #potentialisuncontained #noneedfortheenvious #imitator #potential #omni #expansive #eclectic #morethansomeknow #free</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>February 16<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/elysian-trust-christopher-matthew-cavanaugh-creativity-1-web.png" src="images/elysian-trust-christopher-matthew-cavanaugh-creativity-1-web.png">
<br />
<p>If you're creative: be free and bold!</p>
<p>No need to work too hard protecting your ideas!</p>
<p>Just share 'em.</p>
<p>#nocompetition</p>
<p><a href="http://www.elysiantrust.org/wp/member-societies/interrobang/">http://www.elysiantrust.org/wp/member-societies/interrobang/</a></p>
<p>@mattanaw @mattanaw.arts @mattanaws.mind</p>
<p>#mind #meme #quote #quoteoftheday #copyright #trademarks #ip #creativity #creative #elysiantrust #interrobang #freedom #doit #thinkit #thinkmoreofit #ideas #gifted #brains #makestuff #build #art #writing #music #design #innovation #beyou #fearless #bold #generative</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>February 8<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/beaches-interrupted-by-streams-and-rivers-hanalei-kauai-web.jpg" src="images/beaches-interrupted-by-streams-and-rivers-hanalei-kauai-web.jpg">
<br />
<p>Just a beautiful spot on the beach by Hanalei Bay, in Kauai, Hawaii.</p>
<p>I'm not there now, but am reminiscing. After 5 weeks in resorts, I had to head back home to Anchorage.</p>
<p>...</p>
<p>Many of the beaches in Hawaii are fairly discontinuous.</p>
<p>They do not stretch without interruption as far as they do in Florida.</p>
<p>The Hanalei River creates a gap between the beaches at Princeville Resort and Hanalei.</p>
<p>Streams also appear because of the tides and other conditions. This is one such stream. Easily crossable. Others not so much.</p>
<p>Beaches have a very natural feel, and have curvature, and shapes, matching the island landscapes. Plant life can extend most of the way to the water in places, creating a more private, tropical vibe.</p>
<p>Some spots are more continuous, like at Polihale. So long stretches of beach do exist, if that's what you're looking for.</p>
<p>@mattanaw @mattanaw.everywhere @mattanaw.travels</p>
<p>#hawaii #kauai #hanalei #polihale #island #beaches #streams #rivers #mountains #bays #hanaleibay #travel #reminiscing #remoteish #secluded #relaxed #chill #landscapes #scenery #travelphotography #photography #sand #water #contrast</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>February 4<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/lava-lava-beach-club-kauai-shores-hotel-web-1.jpg" src="images/lava-lava-beach-club-kauai-shores-hotel-web-1.jpg">
<br />
<p>If you have the chance to visit Kauai, I highly recommend checking out the Lava Lava Beach Club, at the Kauai Shores Hotel in Kapaa (Coconut Coast).</p>
<p>It's a restaurant and bar that extends right out onto the beach, that gets busy in the evening.</p>
<p>It seems to be a spot locals visit as well. A plus, if you don't want to be stuck at the resort, with all those &quot;resort people&quot;.</p>
<p>Gross right?</p>
<p>Only joking. &quot;Resort people&quot; isn't even a real category.</p>
<p>It's a chill spot. Plenty to do and see. It has a trendy feel almost, for a remote spot like Kauai.</p>
<p>@llbckauai @mattanaw @mattanaw.everywhere @mattanaw.travels</p>
<p>#kauai #kapaa #coconutplantation #hawaii #chillbar #bars #beach #resort #beachclub #beautiful #trees #travel #fresh #vacation #staycation #cooltrees #foodie #beer #work #consulting #consultingligfe #workisplay #island #aloha #love #views #greatlocation #comingback</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/writers-block-artwork-tristan-agnauraq-morgan-mpg-1-web.jpg" src="images/writers-block-artwork-tristan-agnauraq-morgan-mpg-1-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/writers-block-artwork-tristan-agnauraq-morgan-mpg-2-web.jpg" src="images/writers-block-artwork-tristan-agnauraq-morgan-mpg-2-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/writers-block-artwork-tristan-agnauraq-morgan-mpg-3-web.jpg" src="images/writers-block-artwork-tristan-agnauraq-morgan-mpg-3-web.jpg">
<br />
<p><em>February 3<sup>rd</sup>, 2019</em></p>
<p>Back in Anchorage.</p>
<p>It's a little more work. But it's beautiful.</p>
<p>I think it's going to be an Anchorage-Hawaii time split.</p>
<p>Paradises and not paradise.</p>
<p>Cool spot here in AK is the writer's block cafe.</p>
<p>Artsy, booky. Foods, drinks.</p>
<p>Dranks.</p>
<p>Enjoying myself here working and observing the art.</p>
<p>This piece caught my attention. Tristan Agnauraq Morgan. I love it. Popped big time.</p>
<p>Memories formed thereof. Thank you! And thank you @thewritersblockalaska.</p>
<p>@mattanaw @mattanaw.arts @mattanaw.everywhere
#anchorage #alaska #spenard #art #artsy #writing #thewritersblockalaska #writersblock #legit #chill #ucanwork #foods #drinks #coffee #coffeehouse #beer #hangout #travel #nativestyle #alaskanative #cool #style #somanycoffees #nowritersblockever #ideas #decor #decoration #inspiration #beautifulsubject #real</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>February 3<sup>rd</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hanalei-princeville-hotel-mattanaw-tiled-pool-1-web.jpg" src="images/hanalei-princeville-hotel-mattanaw-tiled-pool-1-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hanalei-princeville-hotel-mattanaw-tiled-pool-2-web.jpg" src="images/hanalei-princeville-hotel-mattanaw-tiled-pool-2-web.jpg">
<br />
<p>Views when I was spending some time working poolside at the Princeville Hotel in Hanalei. It was a productive session.</p>
<p>&quot;Why must that guy be on the computer?&quot;, I assume some thought, as they looked at me with distaste.</p>
<p>Changes in sun position. Transitioning shades of colors in the pool and mountains.</p>
<p>Not the usual office.</p>
<p>The best pools have tile surfaces. At some point, I want to see pools with mosaic tile surfaces at the bottom.</p>
<p>Pool-artworks. I will search specifically for these in Crete and Italy this year.</p>
<p>@st-regis-princeville-resort @mattanaw @mattanaw.travels @mattanaw.everywhere @mattanaw.arts</p>
<p>#princeville #hanalei #kauai #pacific #placid #colors #contemplative #working #mindful #productive #energy #chill #serene #tiles #mosaic #notmosaic #hawaii #sunshine #poolside #pools #water #aquatic #aquaman #fastandfurious #fastandthefurious #filmedhere #coolcast #consultinglife #love #aloha</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>February 2<sup>nd</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/koloa-landing-room-details-3-web.jpg" src="images/koloa-landing-room-details-3-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/koloa-landing-room-details-2-web.jpg" src="images/koloa-landing-room-details-2-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/koloa-landing-room-details-1-web.jpg" src="images/koloa-landing-room-details-1-web.jpg">
<br />
<p>Every once in a while, when I'm just sitting in contemplation, I'll notice some combination of shapes and textures contributing to my positive mood, without my being aware of it.</p>
<p>Beautiful, well constructed environments, have many elements not immediately apparent at first. You can enjoy them until elements pop out at you, revealing aspects of the positive experience.</p>
<p>The same is possible with seeing defects in an environment you enjoyed at first. You know it's done right though, when there is more to discover in what you like, before you reach the point where the defects become visible.</p>
<p>The details in the decor at the Koloa Landing resort in Poipu, Kaua'i created a very serene experience.</p>
<p>I'm not sure exactly what I liked in this (some color and shape combination), but I wanted to capture it for when I design my home in AK. Or for if I get a place in Hawaii (that's to be decided).</p>
<p>@koloalandingresort @mattanaw.arts @mattanaw.travels</p>
<p>#koloalandingresort #marriott #poipu #kauai #southshore #soutshorekauai #beach #details #decor #decoration #luxe #island #luxurycondo #design #meticulous #colorcombinations #shapes #arrangements #woodgrain #wood #classy #hawaii #serene #meditative #mindfulness #designinspriration #architecture #clean #relaxing #vacay #consultinglife #workisplay</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>January 29<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/jeepy-pride-polihale-mattanaw-christopher-matthew-cavanaugh-3-web.jpg" src="images/jeepy-pride-polihale-mattanaw-christopher-matthew-cavanaugh-3-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/jeepy-pride-polihale-mattanaw-christopher-matthew-cavanaugh-1-web.jpg" src="images/jeepy-pride-polihale-mattanaw-christopher-matthew-cavanaugh-1-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/jeepy-pride-polihale-mattanaw-christopher-matthew-cavanaugh-2-web.jpg" src="images/jeepy-pride-polihale-mattanaw-christopher-matthew-cavanaugh-2-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/jeepy-pride-polihale-mattanaw-christopher-matthew-cavanaugh-4-web.jpg" src="images/jeepy-pride-polihale-mattanaw-christopher-matthew-cavanaugh-4-web.jpg">
<br />
<p>Some more photos of the magnificent Polihale, Kaua'i, as experienced from Jeepy excursions.</p>
<p>I'm proud of myself, for overcoming my distaste for Jeeps, and my decision, to enjoy them, in all their blocky unchanginess.</p>
<p>Fake commando in progress. With my miniature truck, that gets 11 mpg, for reasons I cannot understand.</p>
<p>Doesn't seem advanced, but &quot;Hey&quot;.</p>
<p>&quot;Hey there...&quot;.</p>
<p>What were we talking about?</p>
<p>Oh yeah. Jeeps. They do the job well. Tight spaces, sandy pit escapes.</p>
<p>My Ford F-250 gets the same gas mileage... and tows 12,000 pounds.</p>
<p>It is confusing to me, but &quot;Hey&quot;</p>
<p>&quot;Hey there...&quot;.</p>
<p>They make good U-turns too.</p>
<p>#jeep #gas #fuel #gasoline #beaches #beauty #landscape #sand #sunshine #uturns #lilshrubs #golden #goldencoast #hawaii #kauai #polihale #ilovethisplace #vacay #vacation #travel #outdoors #mountains #relaxation #meditation #offroad #remote #backsoon #heyheythere</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>January 26<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hanalei-princeville-hotel-room-view-1-web.jpg" src="images/hanalei-princeville-hotel-room-view-1-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hanalei-princeville-hotel-room-view-2-web.jpg" src="images/hanalei-princeville-hotel-room-view-2-web.jpg">
<br />
<p>What a view from the Princeville Resort, overlooking Hanalei Bay in Kauai!</p>
<p>I was needing some recuperative &quot;me time&quot; and found it here.</p>
<p>With more than 180 degrees of unobstructed ocean and mountain views, there is very little to complain about. I spent my last two days with the windows wide open, listening to the crashing waves.</p>
<p>Mind blown. And then glued back together. With meditation glue.</p>
<p>Easily one of the most beautiful locations I ever stayed.</p>
<p>The service is phenomenal here. Can I work here? I'd work here.</p>
<p>Thank you @st-regis-princeville-resort!</p>
<p>#hanelei #hanaleibay #princeville #kauai #hawaii #island #beaches #sea #ocean #waves #meditation #contemplation #reflection #relaxation #beaches #metime #healing #health #chill #mindfulness #natural #nature #views #mountains #landscape #coral #reefs #luxury</p>
<p>@mattanaw.everywhere @mattanaw.travels</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>January 22<sup>nd</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/polihale-kauai-mattanaw-camping-1-web.jpg" src="images/polihale-kauai-mattanaw-camping-1-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/polihale-kauai-mattanaw-camping-2-web.jpg" src="images/polihale-kauai-mattanaw-camping-2-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/polihale-kauai-mattanaw-camping-3-web.jpg" src="images/polihale-kauai-mattanaw-camping-3-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/polihale-kauai-mattanaw-camping-4-web.jpg" src="images/polihale-kauai-mattanaw-camping-4-web.jpg">
<br />
<p>Camping in Hawaii is amazing!</p>
<p>I always loved camping, but admittedly, it was something I normally did in the mountains or woods, at National Forests and Parks, and so on.</p>
<p>This was my very first attempt at beach camping. It was a learning experience, but it was totally worth it.</p>
<p>Also a first, was driving around in a Jeep. I was always biased against Jeeps, but they are perfect for getting the right access in Hawaii. I appreciate them now far more than I ever did before.</p>
<p>What a spot for firsts!? This is Polihale. These photos don't do it justice. Polihale is amazing. If you visit Kauai it is another must. It is drier, and sunshine is more probable.</p>
<p>It is very different than Hanalei (another amazing location). It is fascinating that these climates are so close to one another.</p>
<p>I can live here for some of the same reasons I live in Alaska. It is rural, but there is still plenty of access to city life (and Honolulu is not far away).</p>
<p>It also isn't too far from Alaska. Alaskans frequent Hawaii for this reason. If you have time for an extended vacation, you might want to do both. I did this in 2009 and it was cost effective.</p>
<p>I'm looking forward to calling this my home away from home! Especially because the people here are so kind!</p>
<p>Thank you Hawaii!!</p>
<p>@mattanaw.travels @mattanaw.adventure @mattanaw.everywhere @Jeep @Avis</p>
<p>#dreamlocation #parks #stateparks #hawaiiparks #hawaiibeaches #amazing #landscape #mountains #travel #cheapfun #beautiful #offthebeatenpath #hiking #island #islandlife #kauai #hawaii #camping #beach #beachcamp #thorns #stayawayfromthorns #adventure #remotecamping #secluded #alone #metime #quiet #atv #jeep #jeeps #offroad</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>January 17<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/thorny-sandals-web.jpg" src="images/thorny-sandals-web.jpg">
<br />
<p>Shifted back from luxe-mode to adventure-mode, and the transition hasn't been comfy.</p>
<p>I stepped into the woods for just a minute, and returned like this.</p>
<p>Sandals aren't for hiking?</p>
<p>One thorn lodged completely in my foot, nearly an inch deep.</p>
<p>I hope I don't get some miscellaneous disease!</p>
<p>@mattanaw.travels @mattanaw.adventure</p>
<p>#kauai #hawaii #camping #beach #beachcamp #thorns #stayawayfromthorns #adventure #remotecamping #secluded #alone #metime #quiet #keeptheshoeson #shoes #notflipflops #miscdiseases #diseases</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>January 17<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/not-yours-chicken-1-web.jpg" src="images/not-yours-chicken-1-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/not-yours-chicken-2-web.jpg" src="images/not-yours-chicken-2-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/not-yours-chicken-3-web.jpg" src="images/not-yours-chicken-3-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/not-yours-chicken-4-web.jpg" src="images/not-yours-chicken-4-web.jpg">
<br />
<p>Some more sights from Princeville!</p>
<p>Lunch at Nalu Kai, at the Princeville Hotel.</p>
<p>Work, pools, and beaches are compatible.</p>
<p>Chickens and veggie burgers are not. Go away chicken!</p>
<p>@mattanaw.everywhere @mattanaw.travels @st-regis-princeville-resort @marriott @the-westin-princeville-ocean-resort-villas</p>
<p>#consulting #play #anjoy #consultinglife #chicken #kauaichicken #kauai #hawaii #island #pools #beaches #sunshine #clearskys #gooddays #enjoy #pleasure #palmtrees #warmth #revive #workisplay #foodsformatt #notforchicken #eatinglightish #saynotofries #pineapple #luxe #food #foodwithaview #roostersroosting</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>January 16<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/mattanaw-christopher-matthew-cavanaugh-princeville-hanalei-web.jpg" src="images/mattanaw-christopher-matthew-cavanaugh-princeville-hanalei-web.jpg">
<br />
<p>Greetings from Kauai, at the Princeville Hotel (formerly the St. Regis) near Hanalei.</p>
<p>Tropical Jurrasicparkishness is nearby. Inspired by actual chicken dinosaurs.</p>
<p>This is an extremely beautiful resort. I was able to pop in several times from the nearby The Westin Princeville Ocean Resort Villas, also a very nice spot.</p>
<p>I think this is a must see if you happen to end up in Kauai, in the Hanalei area.</p>
<p>@mattanaw.travels @mattanaw.arts @mattanaw.everywhere @st-regis-princeville-resort @marriott @the-westin-princeville-ocean-resort-villas</p>
<p>#jurrasicpark #stevenspielberg #kauai #hanelei #princeville #hawaii #islandlife #beaches #secluded #private #privateish #tropical #relaxed #turf #greendesign #design #manicured #pedicuredtoo #travel #seeitall #dabbleinhotels #trynottobetoocool #morerelaxedthanbuddha #maybeanexaggeration #vicarioussurfer</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>January 14<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/koloa-suite-poipu-1-web.jpg" src="images/koloa-suite-poipu-1-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/koloa-suite-poipu-2-web.jpg" src="images/koloa-suite-poipu-2-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/koloa-suite-poipu-3-web.jpg" src="images/koloa-suite-poipu-3-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/koloa-suite-poipu-4-web.jpg" src="images/koloa-suite-poipu-4-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/koloa-suite-poipu-5-web.jpg" src="images/koloa-suite-poipu-5-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/koloa-suite-poipu-6-web.jpg" src="images/koloa-suite-poipu-6-web.jpg">
<br />
<p>I had a wonderful stay this month at the Koloa Landing Resort at Poipu, Autograph Collection.</p>
<p>Usually I do not spend this much for a hotel...</p>
<p>I blame @Marriott for not giving it to me, as a lifer, but also, for tempting me into staying.</p>
<p>My suite was wonderful. Beautiful Garden views in the Garden Isle that is Kauai.</p>
<p>I highly recommend a stay. Beach access is amazing. It seems to be the drier side of the island as well.</p>
<p>Or, do as I do: visit all parts of a city or locale? There is no need to book weeks on end in one location.</p>
<p>Be like Mattanaw.</p>
<p>Do what you feel like when you feel like it.</p>
<p>@Miami is approaching again.</p>
<p>@quicksilver #quicksilver @hydroflask</p>
<p>#hawaii #kauai #poipukauai #miami #alaskagetaway #getawayfromalaska #poipu #marriott #marriottautograph #autograph #beaches #islandlife #luxe #yougetwhatyoupayfor #beautfiulresort #stunningsunets #sunsets #workhard #workisplay #nonstop #travel #luxury #realestate #flighty #flight #itwasworthit #life</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>january 14<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/eighteen-year-old-mattanaw-shooting-pool-christopher-matthew-cavanaugh.jpg" src="images/eighteen-year-old-mattanaw-shooting-pool-christopher-matthew-cavanaugh.jpg">
<br />
<p>say &quot;hello&quot; to matt at 18. shooting pool, as he often did, just outside of d.c. in maryland.</p>
<p>former marylandian, detroitian, knoxvillian, miamivillian, charlottian, bostonian (kinda, nashuavillian), alasakervillian (&quot;fast sourdough&quot;), and now hawaiian (already?). nearly san diegoian. others too. all those things. i call myself what i feel like.</p>
<p>mostly international these days.</p>
<p>global citizen.</p>
<p>so much not incognito.</p>
<p>anyways i'm way off topic.</p>
<p>behold, the very slightly younger looking matt!</p>
<p>dms much appreciated (ignored mostly). try it though.</p>
<p>@mattanaw.everywhere @mattanaw.travels @mattanaw.fitness</p>
<p>#brokeaf #retirednow #retired #workisplay #yerconfused #immnotconfused #allover #global #international #flashback #maryland #baltimore #olney #silverspring #dc #virginia #detroit #knoxville #sandiego #nashua #boston #miami #ftlauderdale #charlotte #alaska #anchorage #northcarolina #hawaii #kauai #maui #oahu #bigasswaves #harvard #iamharvard #forgotwhatthispostwas</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>January 13<sup>th</sup>, 2019</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/hammerhead-room-web.jpg" src="images/hammerhead-room-web.jpg">
<br />
<p>A view of the secluded beaches from the coveted Hammerhead Room, at The Westin Princeville Ocean Resort Villas.</p>
<p>It had gorgeous panoramic views of the coastline from several hundred feet above.</p>
<p>Blue water, big waves, manicured greens, and chickens aplenty.</p>
<p>(Kaua'i has chickens running around everywhere).</p>
<p>A lucky first night in Princeville, Kaua'i!</p>
<p>@mattanaw.everywhere @mattanaw.travels</p>
<p>#retiredlife #hawaii #islandlife #hawaiilife #aloha #mahalo #kauai #princevillekauai #luxury #luxe #resorts #workisplay #playiswork #beaches #sunshine #surfing #vacation #relaxation #travel #travelphotography #photography #marriott #westin #homeawayfromhome #homeawayfromalaska #alaska #business</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>December 16<sup>th</sup>, 2018</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/sky-tower-space-ship-web.jpg" src="images/sky-tower-space-ship-web.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/sky-tower-space-ship-zoomed-web.jpg" src="images/sky-tower-space-ship-zoomed-web.jpg">
<br />
<p>A view of Sky Tower in Auckland, NZ, from The Great Ponsonby Art Hotel.</p>
<p>It doesn't look natural. It is striking, foreign, like an alien space ship. From the movies that pretend to know what alien space ships would look like, if there actually were aliens.</p>
<p>Maybe it just landed there like that.</p>
<p>I should be Agnostic about that, because its possible.</p>
<p>Anyway, Ponsonby is a cool spot, with plenty of restaurants and things to do. I highly recommend paying a visit if you get the chance to visit Auckland.</p>
<p>@mattanaw.everywhere @mattanaw.travels @mattanaw.arts</p>
<p>#skycity #skytower #nz #newzealand #auckland #ponsonby #kiwi #greatponsonbyarthotel #arthotel #bedandbreakfast #cozy #comfy #cityscape #space #spaceship #alien #alienvisit #unnatural #ship #aircraft #spacecraft #ufo #doesntlooknatural #artificial #itlanded #itlandedthere</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>December 14<sup>th</sup>, 2018</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/harvard-vertical-gardens-interior-web.jpg" src="images/harvard-vertical-gardens-interior-web.jpg">
<br />
<p>The beautiful vertical gardens at the Campus Service Center at Harvard University.</p>
<p>This was a very nice place to sit and study! A pleasant discovery in my camera roll, from last month's trip.</p>
<p>When I'm not living in an RV, I will emulate some of what I've seen here. I wonder which plants would be suitable replacements, here in Alaska.</p>
<p>@mattanaw.arts @mattanaw.travels</p>
<p>#gardens #green #sustainability #design #architecture #decoration #decor #inspiration #interior #livablespaces #greenarchitecture #greendesign #harvard #harvarduniversity #harvardsquare #university #college #study #reading #massachusetts #boston #cambridge #hangingout #anchorage #alaska #homedecor</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>November 30<sup>th</sup>, 2018</em></p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/aftershock-espresso-web-1.jpg" src="images/aftershock-espresso-web-1.jpg">
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/aftershock-espresso-web-2.jpg" src="images/aftershock-espresso-web-2.jpg">
<br />
<p>After the earthquake in Anchorage this morning, the only place I could find to get work done was called &quot;Aftershock Espresso&quot; 😂</p>
<p>Thank you @aftershock_espresso @ak.aftershockespresso for being open!!</p>
<p>I'm ok BTW and so far I have not heard of any deaths or injuries. Thanks to everyone who reached out! People are shaken but aside from business closures, everything seems to be mostly ok.</p>
<p>#anchorage #earthquake #spenard #earthquakes #espresso #caffeine #femacoffee #coffee #coffeeshop #stillworking #workanyway #grateful #alaska #anchorageisok #wereok #everybodyfine #gladitwasntworse</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
