<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="no-you-really-wont-see-the-whales-and-aurora-borealis.html"
&&DocTitle="No, You Really Won't See the Whales and Aurora Borealis"
&&DocSubtitle="On the difficulties of seeing more challening sites here in Alaska."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/aurora-borealis.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="January 11<sup>th</sup> 2017"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/no-you-really-wont-see-the-whales-and-aurora-borealis.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/images/aurora-borealis.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="No, You Really Won't See the Whales and Aurora Borealis"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="On the difficulties of seeing more challening sites here in Alaska."


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="No, You Really Won't See the Whales and Aurora Borealis"
&&twitterCardDescription="On the difficulties of seeing more challening sites here in Alaska."
&&twitterCardImage="http://www.mattanaw.com/images/images/aurora-borealis.jpg"



--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center floated image transition visible" data-src="DocImage" src="DocImage">
<p>If you could travel to Alaska, what would you want to see? Suppose you had a week to visit.</p>
<p>I know what I would want to see. Whales. Lots of them. Humpbacks, Orcas, Belugas and Blue Whales. I would also want to see starving grizzly bears chomping on massive, flying, sockeyed salmon. I would tell my trip planner—&quot;Throw in a few polar bears, moose, the Northern lights, musk oxen, glaciers, and a totem pole or two. That would be great. I also want to heli-ski, climb Denali, and see the Iditerod. If I could do all that it would be a great trip.&quot;</p>
<p>Here's the problem. Although I lived in Alaska for over a year, and almost continually traveled, I still have not seen many of these things, and I tried. I realized that you can't see half of these things without committing a week or more to each individually. Alaska is the size of a large country, and unless you are willing to spend time and money traversing thousands of miles by car, tiny aircraft, or slow boat, you will need to focus on one or two destinations.</p>
<p>Consider that many Alaskans haven't seen the things you would be arriving for. Some experiences are ones you can plan for, but others require luck or extra time.</p>
<p>My experiences below might help you plan a week long trip:</p>
<ul>
<li><strong>Be Aware of Obstacles</strong>
<ul>
<li><em>Cloud cover, and limited visibility.</em> You can't control overcast skies, and they are common in Alaska. It is not like a trip to Florida. If you arrive solely for Denali (Mt. McKinley), you might be disappointed to find it obscured by clouds for days. Mountain peaks could be covered your entire trip, wherever you go, so have options handy. Want to see the Aurora Borealis? You will have to travel north of Anchorage to have the best chance, and have dark, <em>clear</em> skies. Haze and thin cloud cover can be enough to block the Aurora, which occurs very far out in the atmosphere (so there is plenty of space for an obstruction to appear). This means there must be nearly unlimited visibility. If you travel in the summer, you will have too much sunlight, making it difficult to get dark skies even in the middle of the night. A bright moon and city lights can also conceal the Aurora. Everything has to be just right for you to get a nice view, and there's no way to know this before booking travel.</li>
<li>Content yourself with glimpses of wildlife.</em> Jumping salmon, whales and wolves can be seen, <em>if you can find them</em>—but you will be waiting and searching and straining your patience. You might be on a boat for a long time and still never see a whale. Or you could see a whale for a minute. Bears and Moose are more likely, especially if you do some driving, but I have gone weeks without seeing a moose. In Anchorage, people gather to snap pictures when they finally see one. They are common but are still a spectacle. If you spend time hiking or biking, however, I do think it's likely to see a moose.</li>
<li>Expect to spend hours traveling.</em> Landmarks are far apart and require significant travel time. Most special destinations are at least a day trip from the city.</li>
<li>National Parks do not have much infrastructure.</em> The parks are not like Yellowstone or Yosemite. This means you have less protection from wildlife, fewer trails, and little to no park employees. Don't hope to drive directly up to Denali, and start a hike up the mountain. You'll be lucky to get close enough to see it. If you want to visit Denali, visit for the park itself and everything it offers, and you'll have a great time.</li>
</ul>
</li>
<li><strong>Choose a region: Anchorage or Juneau / Pacific Northwest (PNW)</strong>
<ul>
<li>Commit to a hub with options.</em> Anchorage and Juneau/PNW each offer endless opportunities for adventure, but they are separate destinations. They are very different from each other in climate and topography. It is unrealistic to visit both—you'll likely regret missing opportunities in one or the other, if you try. Anchorage has plenty of overland access, while Juneau is an isolated sliver of land between mountain and water. Alaska is huge so there are other regions to consider, but for a first trip, these spots offer the most potential. In Alaska, weather might change your plans, so options will help ensure you have interesting things to do.</li>
<li>Cruises are limited mostly to coastal destinations.</em> An Alaskan cruise is almost like choosing to visit Juneau/PNW, because it is on the water, and there is access to the coastal forests, glaciers, mountains, fisheries, and other small towns and islands (Sitka, Ketchikan, Petersburg, Juneau). There are other routes, but consider that they will cover more open water.</li>
</ul>
</li>
</ul>
<p>Alaska can provide a mind blowing experience regardless of conditions, as long as your expectations aren't too specific. As long as you are open to all that Alaska has to offer, you will not be disappointed. Choosing a destination with plenty of alternatives is best. Anchorage provides a reliable source of amazing things to do in any conditions. <strong>You don't need to go far for adventure.</strong> Alaska as a whole is like a pristine national park. Anchorage, my preferred base, provides easy access to state parks that are incredible. Whatever you choose, I would not plan the trip around seeing the whales or the Aurora Borealis. Instead select a solid hub as you destination, and prepare to experience more than you hoped for.</p>
