<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="landing"

/* Doc Properties
&&htmlPageTitle="Off Grid Living in Alaska"
&&DocTitle="Off Grid Living in Alaska"
&&DocSubtitle="My experiences trying to live off grid in Anchorage, Alaska."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/off-grid-alaska-sunset-web.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="December 11<sup>th</sup> 2018"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/off-grid-living-in-alaska.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/off-grid-alaska-sunset-master.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Off Grid Living in Alaska"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="My experiences trying to live off grid in Anchorage, Alaska."

/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Off Grid Living in Alaska"
&&twitterCardDescription="My experiences trying to live off grid in Anchorage, Alaska."
&&twitterCardImage="http://www.mattanaw.com/images/off-grid-alaska-sunset-web.jpg"




--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center image transition visible" data-src="DocImage" src="DocImage">
<h1>DocTitle</h1>
<p><em>PubDate</em></p>
<p>This is my series page on my journey living completely off grid in Anchorage, Alaska.</p>
<p>Check back periodically for new videos and articles!</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<p><a name="how-I-treat-trespassers-and-how-they-treat-me"></a></p>
<h2>How I Treat People Who Trespass and How They Treat Me</h2>
<p><em>June 16<sup>th</sup>, 2019</em></p>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://youtube.com/embed/XKtdglUsrGc" frameborder="0" allowfullscreen></iframe>
</div><br />
<p>How I Treat People Who Trespass and How They Treat Me. <a href="video/trespasser-video-craig-medred-web.mp4">Original Full Sized</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a>. All Rights Reserved.</p>
<p>I own this property, and initially, the police indicated they would enforce the law.</p>
<p>They did not follow through.</p>
<p>So this man is free to continue to ignore my objections.</p>
<p>And possibly commit any crime he likes, with APD's apathy working in his favor.</p>
<p>I have many photos of him trespassing on my property, even very late into the evening.</p>
<p>Just yesterday he was on my property, just entering, at 9:10 p.m.</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2>Trail Camera Photos of Interest</h2>
<p><a href="terms-conditions.txt">Terms and Conditions</a>. All Rights Reserved.</p>
<p><em>June 15<sup>th</sup>, 2019</em></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-5-web.jpg" src="images/recent-photos-from-property-5-web.jpg" />
<br />
<p><em>A moose at night.</em></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-1-web.jpg" src="images/recent-photos-from-property-1-web.jpg" />
<br />
<p><em>Just a nice view of a Moose within 30 feet or so of my RV.</em></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-2-web.jpg" src="images/recent-photos-from-property-2-web.jpg" />
<br />
<p><em>A black and white photo taken at night, catching an highly monocrhome image of McHugh peak.</em></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-3-web.jpg" src="images/recent-photos-from-property-3-web.jpg" />
<br />
<p><em>A sow and her cubs also spotted nearby. The mother stood up on her hind legs and gave me a tall stare. I'm glad I was in the safety of my truck.</em></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/recent-photos-from-property-4-web.jpg" src="images/recent-photos-from-property-4-web.jpg" />
<br />
<p><em>Another shot of the bears</em></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2>A Recent Hike Part of the Way Up to McHugh Peak.</h2>
<p><em>June 4<sup>th</sup>, 2019</em></p>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/ECbIL4dBWGo" frameborder="0" allowfullscreen></iframe>
</div><br />
<p>A Recent Hike Part of the Way Up to McHugh Peak. <a href="video/part-way-to-mchugh-peak-above-my-rv.mp4">Original Full Sized</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2>Along Came a Rainbow.</h2>
<p><em>June 4<sup>th</sup>, 2019</em></p>
<video width="320px" controls poster="images/rainbow-over-the-creek-mattanaw-1-video-preview.jpg">
  <source src="video/rainbow-by-the-rv.mp4">
  <source src="video/rainbow-by-the-rv.mov">
Browser ain't right.
</video>
<footer><a href="video/rainbow-by-the-rv.mp4">Video</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a></footer>
<p>Along Came a Rainbow.</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<h2>Stuck Between a Moose and a Winterbear</h2>
<p><em>February 7<sup>th</sup>, 2019</em></p>
<p><em>Series: Off Grid Living in Alaska</em></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-1-web.jpg" src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-1-web.jpg" />
<p>Last night on my property, my driveway was blocked by a large Moose and its calf, and I couldn't push them off the road with my truck due to undrivable snow depths and icy conditions. The moose do not like to exit the driveway, even with a truck driving behind them. On foot they are even more difficult. There was no way I could scare them off the road...</p>
<p><a href="stuck-between-a-moose-and-a-winterbear.html">Read more...</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<h2>Chained Up for Icy Dangers</h2>
<p><em>January 13<sup>th</sup>, 2019</em></p>
<p><em>Series: Off Grid Living in Alaska</em></p>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/IRxo2arAio0" frameborder="0" allowfullscreen></iframe>
</div><br />
<p>Chained Up for Icy Dangers on My Driveway <a href="chained-up-due-to-icy-dangers.mp4">Full Sized</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<h2>Windy Day at the RV</h2>
<p><em>Series: Off Grid Living in Alaska</em></p>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/aMMIIhGlQbo?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
</div><br />
<p>Windy Day at the RV <a href="windy-day-at-the-rv.html">Full Sized</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a></p>
<p><a href="windy-day-at-the-rv.html">See and read more...</a></p>
