<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="landing"

/* Doc Properties
&&htmlPageTitle="Politics in Alaska"
&&DocTitle="Politics in Alaska"
&&DocSubtitle="Politics in Alaska, with an Emphasis on the Topic of Property Rights and Crime Prevention."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/politics-in-alaska-mattanaw.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="March 17<sup>th</sup> 2019"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/politics-in-alaska.html"
&&OgType="video"
&&OgImage="http://www.mattanaw.com/images/trespassers-of-anchorage-1-web.png"
&&OgVideoType=""
&&OgVideo="https://www.youtube.com/embed/RK7H6YasXYc"
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Politics in Alaska"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="Politics in Alaska, with an Emphasis of the Topic of Property Rights."

/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Politics in Alaska"
&&twitterCardDescription="Politics in Alaska, with an Emphasis of the Topic of Property Rights."
&&twitterCardImage="images/trespassers-of-anchorage-1-web.png"




--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center image transition visible" data-src="DocImage" src="DocImage">
<br />
<h1>DocTitle</h1>
<p>DocSubtitle</p>
<p><em>Author: Christopher Matthew Cavanaugh</em></p>
<p><em>Published: March 18<sup>th</sup> 2018</em></p>
<p><em>Edited: Original Edition</em></p>
<p><a href="terms-conditions.txt">Terms and Conditions</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<h3>Supporting My Work</h3>
<p>Donations are greatly appreciated from anyone who enjoys this site.</p>
<p>Funds go towards site maintenance, and would greatly support my work on my upcoming book on ethics.</p>
<p>This will also help fund my political efforts in the state of Alaska.</p>
<p>Click below to donate, or else scan the QR code to provide what you can.</p>
<br />
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_donations" /><input type="hidden" name="business" value="mattanaw@mattanaw.com" /><input type="hidden" name="currency_code" value="USD" /><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" /><img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" /></form>
<pre><img width="200" class="ui small center image transition visible" data-src="images/donation-qr-code.png" src="images/donation-qr-code.png"></pre>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><a name="at-least-he-didnt-pull-a-gun"></a></p>
<p><em>Saturday, July 20<sup>th</sup>, 2019</em>, <time>5:16 PM AKST</time></p>
<h3>&quot;At Least He Didn't Pull a Gun&quot;</h3>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://youtube.com/embed/H_mq9qBNSI0" frameborder="0" allowfullscreen></iframe>
</div><br />
<p>&quot;At Least He Didn't Pull a Gun&quot;. <a href="video/medred-landfield-woebler-at-least-he-didnt-pull-a-gun.mp4">Original Full Sized</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a>. All Rights Reserved.</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><a name="how-I-treat-trespassers-and-how-they-treat-me"></a></p>
<h2>How I Treat People Who Trespass and How They Treat Me</h2>
<p><em>June 16<sup>th</sup>, 2019</em></p>
<div class="video-container">
<iframe class="video" width="560" height="315" src="https://youtube.com/embed/XKtdglUsrGc" frameborder="0" allowfullscreen></iframe>
</div><br />
<p>How I Treat People Who Trespass and How They Treat Me. <a href="video/trespasser-video-craig-medred-web.mp4">Original Full Sized</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a>. All Rights Reserved.</p>
<p>I own this property, and initially, the police indicated they would enforce the law.</p>
<p>They did not follow through.</p>
<p>So this man is free to continue to ignore my objections.</p>
<p>And possibly commit any crime he likes, with APD's apathy working in his favor.</p>
<p>I have many photos of him trespassing on my property, even very late into the evening.</p>
<p>Just yesterday he was on my property, just entering, at 9:10 p.m.</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div><div class="ui container"></pre>
<p><a name="image-theft-from-sd-cards-by-trespassers"></a></p>
<p><em>Friday, May 31<sup>st</sup>, 2019</em>, <time>9:59 PM AKST</time></p>
<h3>Image Theft from SD Cards by Trespassers</h3>
<p>Surveillance is not easy.</p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/trail-camera-sd-card-theft-web.jpg" src="images/trail-camera-sd-card-theft-web.jpg" />
<p>When I first started to purchase and place cameras around my property, my main thoughts were about how to conceal the cameras, how to lock them to protect my investments from theft, and how to make sure they were placed properly to capture footage effectively.</p>
<p>None of these are easy to do, especially if it is necessary to move the cameras around occasionally.</p>
<p>Later, however, I started to think of more challenging situations to avoid: &quot;What about the data and the images themselves? Would trespassers simply find ways to pick locks, or break cases, to get to the SD cards? Either to steal evidence, or to keep or distribute the images for other reasons? Surely, they wouldn't take images of other non-trespassers and use them for illicit purposes? Or would they?&quot;</p>
<p>Not long after having had these thoughts, I found my trail camera like this. Broken right at the spot where the SD card was being protected by the manufacturer's design. This was no accident. It is exactly the break that was needed to make it easy to open up the case and get the SD card.</p>
<p>Another case of surveillance creating yet more surveillance related activities.</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><a name="the-never-ending-crime-prevention-loop-in-anchorage"></a></p>
<h2>The Never Ending Crime Prevention Loop in Anchorage</h2>
<p><em>The Example Case of Trespassing Fixes that Backfire</em></p>
<p><em>Author: Christopher Matthew Cavanaugh, Mattanaw</em></p>
<p><em>May 5<sup>th</sup>, 2019</em></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/trespass-prevention-archetype-copyright-mattanaw-christopher-matthew-cavanaugh.png" src="images/trespass-prevention-archetype-copyright-mattanaw-christopher-matthew-cavanaugh.png" />
<p>Crime is a serious problem in Anchorage. I've been affected by vandalism, theft, stalking, harassment, and almost continuous trespassing. The police have been unable to support me, or otherwise correct, any criminal issues that have affected my personal life; and because of the impact on my personal life, my business and career have been affected adversely as well.</p>
<p>In the case of trespassing, my neighbors and I have experienced obstruction of justice.</p>
<p>On a recent instance, officers who appeared on-site, at my neighbor's request (we deal with the same trespassers who cross both of our properties), were first willing to enforce the law, but were suddenly told not to by their superior. I was on the phone with my neighbor while the officers were on-site, apologizing for not being able to perform their duties. This was after considerable time and preparation by my neighbor, acting based on assurances I received, from another officer, that repeat offenders would be held criminally responsible, and would face prosecution.</p>
<p>I was in the process of reporting the same crime on my property, after sending orders to offenders who continued to trespass anyway. I wanted to take the next step of criminal prosecution. But after this incident, I have no confidence that the Anchorage Police Department would follow through and enforce the law. As a result, one wonders if any preparation will be useful, and if all trespass prevention activities are wasted efforts.</p>
<p>For this reason, and others to be described, property owners carry the burden of all aspects of criminal trespass prevention. Time-consuming activities include:</p>
<ul>
<li>Prep and planning.</li>
<li>Surveillance equipment and installation costs.</li>
<li>Monitoring and evidence review costs.</li>
<li>Legal preparation, and lawyer consultation ($$$).</li>
<li>Organization of materials and data storage/computing costs.</li>
<li>Time required to be at the property to potentially catch trespassers (reduces time doing other activities, like running a business).</li>
<li>Worry about on-site altercations that may inevitably result.</li>
<li>Worry about what trespassers are willing to do.</li>
<li>Costs of property crime.</li>
<li>and much more!...</li>
</ul>
<p>While it seems like it may be possible to overcome this burden, the lack of police enforcement makes the situation <em>impossible</em> to correct for landowners like myself and my neighbors. The reason is simple. It is not possible to detect all crimes as they occur, when the willingness of trespassers and criminals to resume activities goes unchallenged. With no enforcement, the pool of trespassers never dwindles. Landowners like myself face a numbers issue: there's only one of me, a large piece of land (80 acres), and a large number of trespassers who are ready to trespass at all times of day (even at night).</p>
<p>When a landowner begins testing ways to detect trespass, there are early successes. But after considerable investment, and time organizing images, posting cameras, relocating cameras, dealing with destruction to cameras, it becomes evident that almost all trespassing activities that happened went undetected. This prompts a desire to spend more money, more time, consult with lawyers more frequently, file more documents with police, and so on, in a process that will never actually end.</p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/trespass-prevention-archetype-copyright-mattanaw-christopher-matthew-cavanaugh.png" src="images/trespass-prevention-archetype-copyright-mattanaw-christopher-matthew-cavanaugh.png" />
<p><em>Fig 1. Unending, Unresolvable Escalation of Costs Loop.</em></p>
<p>The result is that the property crime continues, land-owners waste time and money, and the police become completely uninvolved in landowner support, for basic rights.</p>
<p>In fact, trespassers are ultimately <em>supported</em> by such a process, and after a prolonged period of time, can take land by extortion and continual invasion, via prescriptive easement and adverse possession.</p>
<p>It is no wonder why people flee from places where property is not secure! I wonder what the overall impact is to other business owners like myself, who bring in considerable funds from out of state, only to find that fundamental rights are lacking. I wonder what the total impact to a declining economy might be?</p>
<p>These observations are not limited to trespassing activities, but any pervasive and unending property crimes that are not resolvable or addressed by law enforcement.</p>
<p>When basic rights are not provided, it signals that there are also corruption issues. I have evidence of likely corruption within Anchorage up to perhaps the state level. These issues affect the economy in diverse untold ways, that will eventually be described here on my blog, and other locations, like the Anchorage Landowner's Association Facebook page, here:</p>
<p><a href="https://www.facebook.com/aklandowner">https://www.facebook.com/aklandowner</a>.</p>
<p>Please support this group if you can and provide a &quot;like&quot; if you have a moment! We are not just about landowner's rights! We are about protecting people from private property issues in the face of an unsupportive government, diminutive police resources, and unmitigated growth of crime related issues!</p>
<p><em>This diagram is from a graduate paper I recently completed at Harvard University, that was well received, and guided by two of Harvard's amazing PhD-level professors/instructors. A revised version of the full article on my land related trespassing issue will be posted and linked here soon.</em></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
