<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="landing"

/* Doc Properties
&&htmlPageTitle="My Profile Scrapbook"
&&DocTitle="My Profile Scrapbook"
&&DocSubtitle="A collection of my profile images I used over time. An autobio of sorts in the making."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="My profile images over time. An autobio of sorts in the making."
&&DocImage="images/profile/mattanaw-christopher-matthew-cavanaugh-princeville-hanalei-profile.jpg"
&&ProfileImage="images/profile/mattanaw-christopher-matthew-cavanaugh-princeville-hanalei-profile.jpg"

/* Open Graph and Facebook Properties
&&PubDate="October 1<sup>st</sup> 2019"
&&EditDate="Ongoing Series"
&&OgSourceUrl="http://www.mattanaw.com/"
&&OgType="article"
&&OgImage="images/profile/mattanaw-christopher-matthew-cavanaugh-princeville-hanalei-profile.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Profiles"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="My profile images over time. An autobio of sorts in the making."

/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Profiles" 
&&twitterCardDescription="My profile images over time. An autobio of sorts in the making."
&&twitterCardImage="http://www.mattanaw.com/images/profile/mattanaw-christopher-matthew-cavanaugh-princeville-hanalei-profile.jpg"




--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center image transition visible" data-src="DocImage" src="DocImage">
<h1>DocTitle</h1>
<p>DocDescription</p>
<p>-MATTANAW</p>
<p><em>PubDate</em>, <time>12:00 PM Alaska Time</time><!-- RationalTimes posts --></p>
<p><a href="terms-conditions.txt">Terms and Conditions</a> Exclusively written, edited (when that happens), and maintained by Christopher Matthew Cavanaugh. All Rights Reserved.</p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<h3>Supporting My Work</h3>
<p>Donations are greatly appreciated from anyone who enjoys this site.</p>
<p>Funds go towards site maintenance, and would greatly support my work on my upcoming book on ethics.</p>
<p>Click below to donate, or else scan the QR code to provide what you can.</p>
<br />
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_donations" /><input type="hidden" name="business" value="mattanaw@mattanaw.com" /><input type="hidden" name="currency_code" value="USD" /><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" /><img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" /></form>
<pre><img width="200" class="ui small center image transition visible" data-src="images/donation-qr-code.png" src="images/donation-qr-code.png"></pre>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<br />
<h3>September 2019 in Anchorage, Alaska.</h3>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/moose-antler-found-profile-web.jpg" src="images/profile/moose-antler-found-profile-web.jpg">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<br />
<h3>September 2019 in Anchorage, at my RV.</h3>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/christopher-matthew-cavanaugh-mattanaw-shades-light-and-dark-web.jpg" src="images/profile/christopher-matthew-cavanaugh-mattanaw-shades-light-and-dark-web.jpg">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<br />
<h3>Spring 2019, after a hike to a peak near my home in Anchorage.</h3>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/partly-to-summit-mchugh-peak.png" src="images/profile/partly-to-summit-mchugh-peak.png">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<br />
<h3>Early 2018, during a trip to Kauai Hawaii.</h3>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/mattanaw-christopher-matthew-cavanaugh-princeville-hanalei-profile.jpg" src="images/profile/mattanaw-christopher-matthew-cavanaugh-princeville-hanalei-profile.jpg">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<br />
<h3>2018 in Auckland, New Zealand.</h3>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/new-zealand-profile.png" src="images/profile/new-zealand-profile.png">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<br />
<h3>2017 at my RV in Anchorage, Alaska.</h3>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/rv-mattanaw-warmind.png" src="images/profile/rv-mattanaw-warmind.png">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<br />
<h3>~2017 at my office in Anchorage, Alaska.</h3>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/anchorage-office-profile-mattanaw.png" src="images/profile/anchorage-office-profile-mattanaw.png">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<br />
<h3>~2017 on my land in Anchorage.</h3>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/property-water-backed-profile.jpg" src="images/profile/property-water-backed-profile.jpg">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<br />
<h3>2018 in Las Vegas, Nevada.</h3>
<p>I was attending an business conference and did not feel the need to dress according to conventions!</p>
<p>I haven't looked back since really. Although I can dress appropriately, if totally necessary, I promise.</p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/christopher-matthew-cavanaugh-profile-focused.jpg" src="images/profile/christopher-matthew-cavanaugh-profile-focused.jpg">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<br />
<h3>Late 2017 in Anchorage.</h3>
<p>Not long after getting divorced. Sternly working in order to think about anything but relationships.</p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/zoomed-profile-matt-cavanaugh.png" src="images/profile/zoomed-profile-matt-cavanaugh.png">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<h3>2016, Anchorage, after first returning to live in Alaska again.</h3>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/mattanaw-focused.jpg" src="images/profile/mattanaw-focused.jpg">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<br />
<h3>Jasper, Canada.</h3>
<p>If I grow hair this is how I look.</p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/profile-with-hair-mattanaw.jpg" src="images/profile/profile-with-hair-mattanaw.jpg">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<br />
<h3>Miami Beach, Florida.</h3>
<p>Just outside my old apartment, the Flamingo, South Beach, on the bay side.</p>
<p>Partially suited up for my more business-centric profile pic, from when I was working as a software architect.</p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/profile2.jpg" src="images/profile/profile2.jpg">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<h3>Miami Beach, Florida.</h3>
<p>Another profile pic intended to be used for work purposes, and also for inclusion on the <a href="http://web.archive.org/web/20151028210232/http://www.intertel-iq.org/directoryae.php">Intertel</a> website.</p>
<br />
<img width="600" class="ui huge center image transition visible" data-src="images/profile/matt-with-hair.png" src="images/profile/matt-with-hair.png">
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
