<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="landing"

/* Doc Properties
&&htmlPageTitle="RationalTimes™"
&&DocTitle="RationalTimes<sup>TM</sup>"
&&DocSubtitle="Maxims and aphorisms from especially lucid moments."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/rational-times-web.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="October 7<sup>th</sup> 2018"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/rational-times.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/rational-times-master.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Rational Times"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="Maxims and aphorisms from especially lucid moments."

/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Rational Times"
&&twitterCardDescription="Maxims and aphorisms from especially lucid moments."
&&twitterCardImage="http://www.mattanaw.com/images/rational-times.jpg"




--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center image transition visible" data-src="DocImage" src="DocImage">
<h1>RationalTimes<sup style="font-size: 14px;">TM</sup></h1>
<p>Maxims and aphorisms from especially lucid moments.</p>
<p><em>Author: Christopher Matthew Cavanaugh</em></p>
<p><em>Published: October 7<sup>th</sup> 2018</em></p>
<p><em>Edited: December 2<sup>nd</sup> 2018</em></p>
<p><a href="terms-conditions.txt">Terms and Conditions</a></p>
<p>In my early twenties I started a journal called &quot;Rational Times&quot; containing aphorisms and maxims similar to those found in the meditations of Marcus Aurelius.  My main goal was to record principles and instructions at key moments of elucidation, that would allow me to self-mentor.</p>
<p>After a long hiatus from this activity, I am resuming my efforts. I experienced major changes in my personal life, and now I could use some self-talk. I need some wisdom from my earlier self again. Truly, old messages to and from yourself can read like the familiar but external voice of an old mentor who knows you intimately.</p>
<p>Upon revisiting, old messages appear new, familiar and more acceptable, providing fresh and sometimes indispensable inspiration.</p>
<p>Here I will list current pieces of advice to myself intermixed with the original longhand entries from my old personal handbook.</p>
<p>Much of this is an archive. Old posts are presented mostly unedited, for reasons that will become evident later. Some pieces of advice, self-directed, may have minimal value to others as originally written. In fact, since more than a decade and a half has passed, some pieces of advice do not apply to my life any longer. Nevertheless, trust that if I chose to include it here, it is because it has didactic value, often of a sort that is quite subtle, connected to the realities of human psychology and limits of cognitive utility and behavioral transformation. Initially the reason for such an inclusion might not be revealed. Subsequent edits may include commentary (this page will be edited frequently), but if commentary never appears, it is because there is at least one planned article or work that will explain it, or otherwise provide required elucidations. In that case, I hope I'm disciplined enough to return and link the item to the newly produced piece of material. That is my intention—but if I drop dead it will not come to completion! There is no way to tie up all loose ends unfortunately.</p>
<p>This original journal is effectively the first book I ever wrote. It is the first of five. All will be published here in original or edited form in the near future.</p>
<p>Feel free to browse the complete scan here: <a href="docs/rational-times-complete-christopher-matthew-cavanaugh.pdf">(Rational Times Complete)</a>.</p>
<p>‐ MATTANAW</p>
<p><em>Sunday, October 7<sup>th</sup> 2018</em>,  <time>2:00 PM AKST</time><!-- RationalTimes posts --></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>Thursday, November 22<sup>nd</sup> 2018</em>,  <time>1:12 PM AKST</time></p>
<h3>Read the books faster than you buy them. [Circa 2003]</h3>
<blockquote>
<p>[6]</p>
</blockquote>
<blockquote>
<p>As you know, you have more books than you have read. Do not purchase anymore [sic] until you have made some progress with what you have. As a rule, to catch up, you should purchase books at a rate of 250 pages for every 1000 [sic] pages read. — In other words, every time you read 1000 pages, you may purchase a book of up to 250 pages—if you want something longer, you may buy it only if you have read exactly 4x the length with no other purchases.</p>
</blockquote>
<img width="600" class="ui huge center image transition visible" data-src="images/6-rational-times.jpg" src="images/6-rational-times.jpg">
<br />
<!--
*Sunday, November 3<sup>th</sup> 2018*,&nbsp;&nbsp;<time>9:59 PM AKST</time>

### Acting until becoming. [April 2003]

> [4]

> It is well known that actors often retain portions of the personalities of the people they portray. Trying to be someone else can rub off in the form of particular habits. Someone who tries to talk a certain way, like someone else for example, may habitualize [sic] that way of talking and begin to talk that way naturally.

> If there are some qualities you wish to habitualize [sic], you can do so by practice.Pretend to be the person you want to become, and you may just become that person. Just make sure it is someone really worth imitating.

<img width="600" class="ui huge center image transition visible" data-src="images/4-rational-times.jpg" src="images/4-rational-times.jpg">

<br />
-->
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>Sunday, November 3<sup>th</sup> 2018</em>,  <time>9:56 PM AKST</time></p>
<h3>Rest because despair is a mood. [April 2003]</h3>
<blockquote>
<p>[3]</p>
</blockquote>
<blockquote>
<p>In those times when you despair, <em>rest</em>. Even despair may be classified as a mood; and as we know, all moods are impermanent. We live through bad times for the good times.</p>
</blockquote>
<img width="600" class="ui huge center image transition visible" data-src="images/3-rational-times.jpg" src="images/3-rational-times.jpg">
<br />
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>Sunday, November 3<sup>rd</sup> 2018</em>,  <time>3:34 PM AKST</time></p>
<h3>Speech Habituation and Your Audience [Circa 2003/4]</h3>
<blockquote>
<p>[91]</p>
</blockquote>
<blockquote>
<p>Refrain from habitualizing [sic] the methods of speech your friends use. As you well know, they are not, at present at least, the best at communicating their thoughts effectively. Neither are you; but you want to [improve], and in order to do so, you should habitualize [sic] more effective methods of speaking. Of course, you will want to learn to speak in ways a variety of groups will be able to understand, and you will want to be able to adjust your speech to a manner congenial to the audience. So speak as others speak in their presence—and at no other time. Habitualize your audience's preferred method of speech.</p>
</blockquote>
<blockquote>
<p>And note that this will require some silence on your part. &quot;Think before you speak&quot; implies silence. Silence is almost always better than unthinking jabber. And think not simply about what to say next, but how you will say it, when you will say it, and who you are saying it to.</p>
</blockquote>
<p>[Note: This approach had severe negative consequences for me in the long term, but for most people, I think it is advisable. It is ill advised when it is excessively stifling and would lead people to have the wrong estimation of you.]</p>
<img width="600" class="ui huge center image transition visible" data-src="images/91-rational-times.jpg" src="images/91-rational-times.jpg">
<br />
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p><em>Sunday, October 7<sup>th</sup> 2018</em>,  <time>~2:02 PM AKST</time></p>
<h3>Create a gap between the time you think of making a purchase, and actually making that purchase.</h3>
<p>If you still want it later, then perhaps it is something you really need. Usually, you will find, you could do without it. That's if you do not forget about it entirely.</p>
<p>This applies to more than spending behavior—this discipline can carry over to other activities.</p>
<p><em>[A note from my early twenties when I was unwisely spending more than I was earning and doing so somewhat compulsively.]</em></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
