<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="recent-hike-part-way-to-mchugh-peak.html"
&&DocTitle="A Recent Hike Part Way Up to McHugh Peak"
&&DocSubtitle=""
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/part-way-to-mchugh-peak-above-my-rv-preview-video.png"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="June 4<sup>th</sup> 2019"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/recent-hike-part-way-to-mchugh-peak.html"
&&OgType="video"
&&OgImage="http://www.mattanaw.com/images/part-way-to-mchugh-peak-above-my-rv-preview-video.png"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="DocTitle"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="DocSubtitle"


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="DocTitle"
&&twitterCardDescription="DocSubtitle"
&&twitterCardImage="http://www.mattanaw.com/images/part-way-to-mchugh-peak-above-my-rv-preview-video.png"



--><!--1--></pre>
<pre><!--2--></pre>
<video width="320px" controls poster="images/part-way-to-mchugh-peak-above-my-rv-preview-video.png"> 
	<source src="video/part-way-to-mchugh-peak-above-my-rv.mp4">
	<source src="video/part-way-to-mchugh-peak-above-my-rv.mov">
Browser ain't right.
</video>
<footer><a href="video/part-way-to-mchugh-peak-above-my-rv.mp4">Video</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a></footer>
<p>A Recent Hike Part Way Up to McHugh Peak</p>
