<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="strategy-one-tips-and-tools-managing-procrastination.html"
&&DocTitle="Strategies for Managing Procrastination, Part One"
&&DocSubtitle="Tips and Tools for Procrastinating Students"
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="http://www.mattanaw.com/images/profile/mattanaw-profile-focused.jpg""
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="January 10<sup>th</sup> 2017"
&&EditDate="January 22<sup>nd</sup> 2017"
&&OgSourceUrl="http://www.mattanaw.com/strategy-one-tips-and-tools-managing-procrastination.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/profile/mattanaw-profile-focused.jpg""
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Strategies for Managing Procrastination, Part One"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="Tips and Tools for Procrastinating Students"


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Strategies for Managing Procrastination, Part One"
&&twitterCardDescription="Tips and Tools for Procrastinating Students"
&&twitterCardImage="http://www.mattanaw.com/images/profile/mattanaw-profile-focused.jpg"



--><!--1--></pre>
<pre><!--2--></pre>
<p>If you find yourself delaying and avoiding something you need to do, what do you do? What strategies do you have handy?</p>
<p>If you're anything like how I was, you don't use a strategy at all. Even if you wanted to use a strategy, you wouldn't know which one was best for your situation. Instead, you may not know where to begin, and continue to worry and procrastinate until a mysterious spark or switch finally activates you. You are not alone in this—most people are in this situation because treatments and techniques were not made available to us. Our culture does not instill effective methods for increasing our motivation.</p>
<img width="600" class="ui medium left floated image transition visible" data-src="images/frozen-inactive.jpg" src="images/frozen-inactive.jpg" />
<p>The main advice I received when I was young amounted to an order to &quot;Just do it!&quot; There was never any strategy—no proven rules to follow. As a kid, I had no lessons or tools to use—and people aren't better equipped today. Tools that exist on the internet are narrowly targeted. I haven't found a resource that offers a comprehensive approach to improving motivation.</p>
<p>This series aims at providing holistic advice. This is achieved by providing many strategies instead of just a few. My goal is to spread these methods with hopes that they eventually become common knowledge. Procrastination is an ancient problem that deserves a more complete treatment, accessible to everyone.</p>
<p>Here we cover an initial strategy you can use immediately. This approach uses tips and tools organized by keywords (categories). Keywords give a good picture of the whole situation. A large list of tools and tips ensures that each keyword is covered. This way it is more likely that no aspect of the situation is overlooked, and some technique is available to assist. You can add additional keywords and tips to expand coverage to even more circumstances.</p>
<p>The student experience is the focus of the series, although it is just a convenient example. Each of the tools listed below can be adapted for other types of procrastination.</p>
<p>Below are tips that I provided a student who came to me in need (in expanded and edited form). These are informal and conversational. If you are not a student, try to receive this information as a student would. Of course, these apply to more than just the school experience.</p>
<h2>Tips and Tools for Procrastinating Students</h2>
<ul>
<li>
<p><strong>Honesty, Awareness, Attention:</strong><br/>
<strong>Self-confession.</strong> Confess to yourself when you are procrastinating or feeling unmotivated. Can you tell if you are procrastinating early on? Try to confess to yourself fast. It is likely that you don't see it clearly as it begins—procrastination creeps up on us. Instead you notice after drifting to other things. Sometimes we have to hear it from others first, which can be frustrating, and cause denial (even patterns of denial and self-delusion). By not admitting we are distracted, we proceed to act in familiar, versus alternative ways. The faster you confess to yourself, the faster you can try something different. As you practice this activity, you are likely to transition from delayed confession, to instant awareness. You'll start to have internal signals of attentional drift and avoidance, and eventually there is less <em>self-confession</em>. It just becomes internal honesty and awareness</p>
</li>
<li>
<p><strong>Talking:</strong><br/>
<strong>Speak aloud to help you think.</strong> Talk to yourself from time to time (when alone), to provide yourself advice you can hear. Be constructive as if you are guiding someone else. Speaking aloud is not the same as thinking quietly. You make use of more of your mental resources, and you can put yourself in the place of the advice-giver. It is well known that giving advice to others is a way to boost energy and motivation (even if it is just a helping hand for something unrelated). Speaking to yourself can simulate this experience. It is good to have a private environment to do this.</p>
</li>
<li>
<p><strong>Timing, Energy:</strong><br />
<strong>Finish work at school.</strong> Every moment you could be doing your work, while at the place you <em>traveled to do it</em>, do it, and you will see great improvement. This way all work that could be completed at school, is completed at school. When you have a full time job, you will have no deep desire to bring work home. Doing so is inefficient, and creates a personal imbalance (even if you want to continue the work). You'll also get paid less per hour that way. It is much better to use all time wisely to separate school life from personal life.</p>
</li>
<li>
<p><strong>Enjoyment, Trickery:</strong><br />
<strong>Make boring tasks fun.</strong> Add personality. Feel free with it. Teachers would appreciate creative humor and personality more than the answers, and it will make grading fun for them. Future employers will likely appreciate the personality and color you bring. Add flair, or spin the tasks to be more interesting to you. This is better than droning every day of your life—be yourself! You will feel less like an imposter when you feel success as well. It will be due to your true self. Your personality will bring you rewards and you won't have to try as hard.</p>
</li>
<li>
<p><strong>Enjoyment, Energy, Attention, Timing:</strong><br />
<strong>Remind yourself about &quot;whys&quot; to find focus.</strong> Find a way to focus, so you can enjoy free time when it comes. You don't want your lack of focus to cause you to cut into your personal time. Remember why you are at school, while at school. When studying, remember why you are studying. Even if really, you are forced to do these things. Ignore that. Think about the fact that you actually can go do school, and you can make an opportunity out of it. Imagine if you couldn't go to college (now or in the future), what resources you would lose. Personally, I like having a library, and a place to research, and time to read. Now, as a working adult, I have to make time for all that. In the future, you might need tools that college offers to actually do what you want. You can’t experiment in a 10 million dollar laboratory from home. Remember what you have, and what you can do with what you have. If you don’t focus on why you’re there, you will have to think about all this when you are doing other things, when you deserve to enjoy yourself with a clear head. When you’re at home, are you thinking about school still? That is due to lack of focus at the appropriate time and place.</p>
</li>
<li>
<p><strong>Planning, Vision:</strong><br />
<strong>Have a plan.</strong> Without a plan, things will come up, that will cause you to do other things. Friends will ask you to spend time with them, you will get more tired than expected, or you will want to do other things you already do habitually or compulsively.</p>
</li>
<li>
<p><strong>Enjoyment, Trickery:</strong><br />
<strong>Talk positively to yourself.</strong> Imagine it is fun and easy. getting work done efficiently, without excess concern for quality. It is fun and it will earn you time to do whatever you want. Later in life, work will be fun, and your personal time will be even better.</p>
</li>
<li>
<p><strong>Talking, Socialization, Communication:</strong><br />
<strong>Talk to your teachers.</strong> I know, it sounds crazy. Even if you think you do not have a good relationship with your teacher, tell them your feelings. <em>You will be surprised if you do this</em>. They will probably become more supportive since they can understand what is happening. I did not do this. I should have realized that I would be misunderstood and <em>mostly unknowable</em> to my teachers. But if you do it now, it will help you in college and with future bosses. It is a great way to learn to befriend adults as well.</p>
</li>
<li>
<p><strong>Visualization, Planning:</strong><br />
<strong>See your day happen beforehand.</strong> Mentally trace out your day, and all the things you will do. Focus on what you will do, and not what you will avoid. This strategy makes it unnecessary to try to stop yourself from doing things you normally do. It is much harder to try <em>not</em> to do something, than to plan and do something completely different. Doing something different automatically implies not doing the same things. Focus on replacement behaviors, and imagine your day before it happens, and you'll end up following your visions, like any other plans you make.</p>
</li>
<li>
<p><strong>Time, Energy, Planning:</strong><br />
<strong>If you won't have energy, you won't do it.</strong> Be aware about when you don't have energy. Put time aside, for when you expect to be active. <em>If</em> you have work to do after school, do it immediately when you get home, before you risk drifting to other things and using all your energy.</p>
</li>
<li>
<p><strong>Visualization, Planning, Timing:</strong><br />
<strong>Don't spill over.</strong> Think to yourself, I need to finish this in the time put aside. Nothing spills out. Your goal is to energetically finish it in the time you have. It <em>is</em> a race, and it isn't that important. Only finishing is important.</p>
</li>
<li>
<p><strong>Environment, Enjoyment:</strong><br />
<strong>Create a nice and comfortable environment, free of distractions.</strong> Make yourself a new space. It should be barren of things to look at, other than school work, and have everything you need to achieve the task. A quiet room, facing a wall with a desk is a good option. Listen to music (best if no lyrics), and maybe make some tea or coffee. Make sure it is low caffeine at night or you will deal with insomnia and sleeplessness the next day. Make it well lit, like a casino would, to keep yourself awake and attentive. Make it a situation you would be happy to repeat, because you have to repeat it. It will be your new habit. It is practice for your college or work life, so you'll need to find a way to like it.</p>
</li>
<li>
<p><strong>Punishment, Energy, Environment, Trickery:</strong><br />
<strong>Give yourself consequences regarding your environment.</strong> If you are still distracted after starting to use a special study place, make more permanent sacrifices, in your larger environment. Give yourself consequences for not doing what you planned. No television at all. No internet, no social media, no phone notifications. These should already be out of the study environment listed above. But if you don't even make it to your study spot to begin with, or you don't even keep to the schedule, it means you are already distracted... so bigger changes need to happen. To give an example, when I kept getting sucked into watching television, I ended up removing the batteries from the remote, and wrapping it in a paper note to create an obstacle. Obstructions like this work. Today I don't even care about television. You don't need to go that far, but if necessary, do it.</p>
</li>
<li>
<p><strong>Focus, Environment:</strong><br />
<strong>Make the change.</strong> Sometimes the environment is not working. Somehow it is distracting. Don't keep trying the same strategy to stay focused. If you need a change of environment to focus, make the change. But the new environment should resemble the earlier environment, in that there are no distractions. Studying at a friends house, with the television on, talking about other topics, will not work well. Personally I like coffee houses with earplugs or ear buds with music, if working at home isn't working out.</p>
</li>
<li>
<p><strong>Focus, Trickery:</strong><br />
<strong>Find the ultimate sources of your distractions.</strong> Be aware of how you drift away from your work. Do you really know how you end up not doing what you plan to do (on a mental level, how distraction arises)? When you become aware, the distraction is weakened. After all, perhaps before you don't even feel it happening. If it is something in the environment, change the environment. If it is something in your mind, find tricks to alter your thoughts.</p>
</li>
<li>
<p><strong>Fasting, Awareness:</strong><br />
<strong>Fasting from distractions.</strong> Have some days when you skip all the things that tend to distract you. This means abstaining from habits. A do-nothing day is the best way to learn this (intentionally have boring times). You'll find on these days, you have powerful urges to go back to your regular activities. You'll realize that much of what you do is automatic compulsion resolution, and urge satisfaction. Commit to not doing these other things. This will give you a chance to see how these other motive forces are generated, and spring into your consciousness. This is why fasting with food is useful from time to time. You can see exactly how food related motives come into consciousness, in surprising ways. And then you get the chance to watch those motivations drift way, and feel what it is like to not cave in. Practice feeling that you want something, and then letting that feeling drift away. It will drift away.</p>
</li>
<li>
<p><strong>Rewards, Energy, Rejuvenation:</strong><br />
<strong>Reflect on your accomplishments.</strong> Doing small tasks is great: you can now genuinely relax. Feel good about discipline gained. Notice and take the good feedback from teachers. Make it more rewarding by actually recognizing yourself and taking recognition from teachers. And ignore when it doesn't go well the best you can. You'll gain energy and motivation to get that same reward later, even if it is just from yourself!</p>
</li>
<li>
<p><strong>Threats:</strong><br />
<strong>Know what threatens your job.</strong> By this I mean, recognizing the risks of not doing what you need to do, and seeing the <em>threats</em> in yourself and environment preventing you from doing it. Entertainment and other people are usually threats. Imagine how these threats arise, and plan around them with replacement activities, being as vivid and visual as you can be when you think about it. (“Threat” is a little over the top, but even that helps. The whole process can be kind-of fun. I think of it as a psych experiment on myself. Feel free to choose different names for tools and alternative keywords that make it more memorable).</p>
</li>
<li>
<p><strong>Replacement:</strong><br />
<strong>Substitute new activities to avoid undesirable ones.</strong> Completing the work will require replacing other activities, that historically have been more interesting and motivating. Replacement of behavior is implied. To do this successfully, it will be important to make long term plans, and create structures, increasing the probability of success.</p>
</li>
<li>
<p><strong>Energy, Economy:</strong><br />
<strong>Reserve Mental Energy.</strong> Remove de-motivators. Things that weaken your impetus towards completing a specific task. Television, social media, phone, email, notifications of any kind-- turn them off. It is unlikely that these have a place in what you are trying to achieve. Be aware of your motivation reserve. Be on guard against negative task substitution. What are your substitutions you keep handy, to enable your procrastination behavior? Contain your efforts in a fixed time, when you know you will have energy.</p>
</li>
<li>
<p><strong>Extinguishing Distractions:</strong><br />
<strong>Let distractions drift away.</strong> Thoughts can drift into, and back out of your mind, like wind through an open door. Within attentional control is mindfulness, and the ability of strategic extinguishing of thoughts. As certain thoughts arise, they are detected, presumably by meta-cognitive processes, and are promptly let go. There is a distinct sensation involved in the extinguishing of certain ideas and even feelings, that can be learnt in the process of meditation, and also in fasting from recurring behaviors. One can watch thoughts and choose which ones to &quot;let go&quot; or even &quot;purge.&quot; Once this skill is acquired, there is an odd experience of being able to cancel non-constructive thoughts before they bubbled up all the way. I believe everyone already does this, in choosing what to say versus what not to say (because one can feel which thoughts should not be said, before hearing them verbalized entirely). The idea is to develop this such that one has a better &quot;handle&quot; on it at more times, and for other kinds of thinking. Recurrent behaviors stem from thoughts that are not always apparent until long after they have arisen, but through fasting, meditation, and mindfulness one gets a better feel for how they arise, and how they pass by.</p>
</li>
<li>
<p><strong>Timing:</strong><br />
<strong>Prefer finishing over achieving quality.</strong> All homework is classwork. Finish the homework while at school, any free moment you have. The goal is to feel done, and have <em>nothing</em> to do when you get home. Get it done fast and don't worry about quality. If you feel like it later you can improve it. If you don't guess what?—It is done. This is a skill in itself. Get the right answers as fast as you can. Soon your mind is faster and more intuitive as well. Can you determine what homework you will have in advance? Try to get ahead.</p>
</li>
<li>
<p><strong>Planning:</strong><br />
<strong>Your goal is to improve your average, by changing yourself slowly.</strong> Think about Strategy for the long term. Patterns are key. Habits and discipline vital. Effort happens at first, automation follows. In the long term, the strategy of focusing on patterns and habits pays off. If a successful habit is created, or another is removed, then set-backs feel less important. One knows that the tendency yields a positive result. You can then actually know what your average is, and once it is at a comfortable level, you can trust yourself to produce the same results.</p>
</li>
<li>
<p><strong>Inspiration:</strong><br />
<strong>Remind and Inspire Yourself.</strong> Take a tip from athletes. They keep motivators handy. Quotes, lists of goals, dreams-- are kept near. Videos and images of important people and role models are kept.</p>
</li>
<li>
<p><strong>Social, Threats:</strong><br />
<strong>Categorize people in terms of supportiveness.</strong> Fit that information into your overall strategy. Maybe you need less time with some people, and more with others.</p>
</li>
<li>
<p><strong>Planning, Visualization:</strong><br />
<strong>Future-proof yourself.</strong> Dodging obstacles is hard. A decisive plan and vision prepared in advance uses less mental energy than on-the-fly decision making. Decisiveness and anticipation creates success. Keep to the strategy and your average completion will increase. Mentally trace your day-- imagine the exact path you will take visually. Think it through in advance and dodge rather than encounter obstacles.</p>
</li>
<li>
<p><strong>Focus, Planning:</strong><br />
<strong>Prevent other urgencies.</strong> Your other needs should be met to the best of your ability before entering your study area. Comfort should be secured by having food, snacks, and a nearby restroom to quickly satisfy other needs. Your environment should be complete, such that nothing would require you to leave or lose focus.</p>
</li>
<li>
<p><strong>Social:</strong><br />
<strong>Keep the study environment clean mentally.</strong> Social concerns need to be left behind when entering the special study place. The environment should be purified, to be sure that a consistent mood of productivity is evoked by being in that environment. This includes a special space for completing assignments away from school, but includes the classroom when in school.</p>
</li>
<li>
<p><strong>Trickery, Social, Enjoyment:</strong><br />
<strong>Switch to sit up front if you are really serious.</strong> In school, it is surprising people do not compete over the front seats. Success is less likely from the back of the room. It is easier to see, and there is less to distract. A relationship is created with the teacher. One suddenly finds some enjoyment, recognition, and individual feedback. Students, who are <em>threats to your attention</em> tend to sit in the back, or otherwise away from the front. In fact if you sit in the back, you might be a threat to the attention of others. Moving close to the teacher is necessary for those who have poor vision, and anyone who cares about not missing something vitally important. There could be a minor social cost of not spending more time with popular people during class, but you must know what you are trading for ephemeral social advantages (if they are real). This is a mistake, I believe. It <em>is</em> possible to have more advantageous friendships by using the appropriate times to one's advantage. One recognizes the different situations and does what is called for socially in each case. It is true that social situations call for special social attention (social life cannot be neglected), and educational situations call for educational focus. One is less likely to grow tired in the course of the day, and fall behind in topics, if one sits up front, to absorb energy from the teacher and interested students. When one enters college, and pays for education, it becomes a financial matter. Seats in the front are simply more valuable, and they do have a monetary value.</p>
</li>
<li>
<p><strong>Readiness, Rhythm, Timing:</strong><br />
<strong>Find your rhythm and work with it.</strong> One thing that never goes away that you have to get used to, is that you will need to feel “ready” to do certain tasks. This part of procrastination will never go away completely, because of competing priories. Even if it is something easy to do, for some reason, you will find you can’t do it at first. If it is important enough, you need to see what is happening, and kill that delay, and find a strategy to force yourself to do it. You can recruit others to try to persuade or nudge you to complete it, or you can dive at it with no thought, and just start “doing.” This will feel uncomfortable, perhaps because you feel unprepared. When I’m avoiding writing an email for work, for example, I might start typing anything once I see what’s happening. But... there will be times where you will still need to wait until you’re <em>ready</em> (some trigger in the mind springs you into action finally). It helps to know how much time you give yourself when you finally are ready. It is possible to become more aware, so that the trigger to do it happens sooner, for fear of not completing something. There are always competing things to do. Maybe you can think of 20 things to do at the same time and can’t prioritize—so you might prefer to delay on some things until you feel ready to complete them, out of some sense of priority you have internalized. But it is likely the prioritization itself is also a hidden procrastination method. This never goes away, you just get used to your rhythm and make it work for you. It can be shifted so that the alarms to do the work go off sooner, and urgency provides the readiness feeling needed.</p>
</li>
<li>
<p><strong>Trickery:</strong><br />
<strong>If it's a short task, don't delay.</strong> “If it will take 2 minutes or less, <em>do it now</em>” This mind-hack really works, and tasks that would be put off until later or completely forgotten, are completed at the moment it comes to mind. We cannot be sure short tasks will be recalled at the right times, and they are too small to schedule! 2 minutes is equal to 5 or 10 minutes, BTW. Accuracy of estimation is unimportant—it’s just a trick for connecting action with the moment you recall what needs to get done.</p>
</li>
<li>
<p><strong>Awareness:</strong><br />
<strong>Eliminate immobility.</strong> If you are motionless and tend to daydreaming, you might want to start to catch yourself being static and just throw yourself at things. Daydreaming is mostly time waste, in my experience. It is a mistake to think that good ideas will not spring up if daydreaming is given up. Doing something/anything (even with no good plan, somewhat aimlessly) somehow increases motivation to finish. It’s like an artist who chooses to just draw things instead of sitting there imagining the perfect drawing. Suddenly the work just gets done.</p>
</li>
</ul>
<p>These factors and suggestions can be used to gradually evolve into a position where goals tend towards completion naturally. The environment itself can come to invoke the correct feeling and mood, and repeated use of that environment leads to habituation and therefore transformation. If I had to choose a factor that yields the greatest reward, it would be a change of environment and position in that environment. Sticking to the same old places creates the same distractions, cravings, compulsions, and preserves general tendencies. New situations may not be better—one has to select carefully. It is wise to choose the right places and companions for your goals, and commit. If you would like to become like people who are productive, you should seriously consider going to places they would go, and being around people they would choose to be around. Where does your future self spend time? Not the same places! Who will your friends be? The environment played a key role in making you who you are today, and it will make you almost the same person tomorrow if you're not careful. If you are resistant about changing your environment, this will likely slow your progress or stop it entirely. A change of surroundings decreases the chances of reverting to old ways. You should be prepared to change environments routinely to support improvements in motivation that you require.</p>
