<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="strongboy-hartsfield-vegan.html"
&&DocTitle="Historic Phill Hartsfield Knife For Sale"
&&DocSubtitle="The only totally vegan blade constructed to be vegan by Phill Hartsfield"
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/vegan-strongboy-1.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="November 29<sup>th</sup> 2017"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/strongboy-hartsfield-vegan.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/vegan-strongboy-1.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Historic Phill Hartsfield Knife For Sale"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="The only totally vegan blade constructed to be vegan by Phill Hartsfield"


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Historic Phill Hartsfield Knife For Sale"
&&twitterCardDescription="The only totally vegan blade constructed to be vegan by Phill Hartsfield"
&&twitterCardImage="http://www.mattanaw.com/images/vegan-strongboy-1.jpg"



--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center floated image transition visible" data-src="DocImage" src="DocImage" />
<p>I'm usually a frugal shopper, but when I want to buy something high quality, I have expensive taste. If I am going to wear it or use it every day, I want it to be a continual source of pleasure.</p>
<p>If I can't go with something I really like, I tend to go really cheap. Throwaway disposable cheap. The only equivalent to having something really nice, is to always have something that's new.</p>
<p>When I splurge I want to be certain that it will be a worthwhile purchase.</p>
<p>Fortunately, in 2005, when I was in the market for a new knife, I made the right choice. My uncle is an avid weapon collector, and following his advice, I purchased a knife from his friend Phill Hartsfield.</p>
<p>For those who do no know about the late Phill Hartsfield, he was a major name in the custom knife industry, influencing many designs we see today, particularly the tonto tipped chisel ground blades. His style is utilitarian Japanese, and his purpose was to create tools designed to be used for a very long time without any performance degradation or need for sharpening.</p>
<ul>
<li><a href="https://en.wikipedia.org/wiki/Phill_Hartsfield">https://en.wikipedia.org/wiki/Phill_Hartsfield</a></li>
</ul>
<p>The knife I purchased is a Custom Strongboy, which is a heavier variant of his popular Kwaiken. A Strongboy is basically the tip of a sword (Phill also made swords), with the samurai wrapped handle. My knife has the following features:</p>
<ul>
<li>Cord wrapped handle, impregnated with epoxy resin.</li>
<li>Cord wrapped sheath, also impregnated with expoxy resin (super durable, specially requested over leather).</li>
<li>Tonto tip.</li>
<li>1/4 inch A2 high carbon tool steel, with a heat treated edge (no hamon).</li>
<li>5 1/2&quot; fixed blade, 10&quot; total length.</li>
<li>Armor/kevlar piercing tip.</li>
<li>Menuki in handle for better grip</li>
<li>Chisel grind (one edge grind), with a very long angle (beautiful), and a super sharp razor edge.</li>
<li>This knife was a direct special request from myself and my uncle to Phill Hartsfield Senior. He crafted the blade himself or it was done by his son in his purview. Unfortunately Phill has since passed away, and left his business to his son (also an amazing knife maker in the same tradition), but this was made during Phill's lifetime and is the gold standard when it comes to a Hartsfield blade. It is a historic piece.</li>
</ul>
<p>I special ordered this knife to be totally vegan. This is a unique knife, since as far as I know, it is the only strongboy custom made by Phill that is deliberately vegan. It is also more durable because the cord wrapped sheath with resin is far more durable than the luxury leather he usually used, that would definitely wear out over time.</p>
<p>While I love my knife, I am motivated to sell it. It has become too valuable to carry and I would prefer to sell to someone with an interest in using it. Phill produced knives that were intended to be used, and I'm more motivated to put this knife in a safe than to continue carrying it. It is time to pass it to someone who will use it regardless of its high value.</p>
<p>If you are interested in an original Phill Hartsfield blade, and you are vegan (or you just want something more durable), this is one of a kind, and will certainly build value as an investment in part of a larger collection.</p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/vegan-strongboy-1.jpg" src="images/vegan-strongboy-1.jpg" />
<p><strong>Figure 1.</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/vegan-strongboy-4.jpg" src="images/vegan-strongboy-4.jpg" />
<p><strong>Figure 2.</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/vegan-strongboy-6.jpg" src="images/vegan-strongboy-6.jpg" />
<p><strong>Figure 3.</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/vegan-strongboy-7.jpg" src="images/vegan-strongboy-7.jpg" />
<p><strong>Figure 4.</strong></p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/vegan-strongboy-8.jpg" src="images/vegan-strongboy-8.jpg" />
<p><strong>Figure 5.</strong></p>
<p>Below is a letter authenticating this as a true Phill Hartsfield blade. A lifetime of sharpening is included with the purchase of a Hartsfield blade (If not by Phill Senior, his son, Phill Junior, or other family member would do the sharpening. How this will continue indefinitely is questionable, however).</p>
<p>Phill gladly resharpened it, after I attempted on my own.</p>
<p>His response to my letter indicates he thought I was disappointed with the knife. However, I was very happy with it, but wanted some guidance to be able to sharpen it myself. In retrospect, I see it would have taken significant training to do that. Most knives have false edges, creating room for sharpening errors. Sharpening imperfections do not affect the overall appearance of cheap blades, since only the steel nearest to the cutting edge is grinded away. The rest of the bevel goes untouched. This knife, however, does not have a false edge, so it must be skillfully sharpened to create the same perfect slope, from the top of the slope, all the way to the cutting edge. Any blemish is quickly noticed, so it is best done by Phill or someone well trained.</p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/phill-hartsfield-resharpening-letter-vegan-strongboy-mattanaw-web.jpg" src="images/phill-hartsfield-resharpening-letter-vegan-strongboy-mattanaw-web.jpg" />
<p><strong>Figure 6.</strong></p>
<h2>Asking Price: $17,000 USD</h2>
<p>For serious inquiries, please email me at <a href="mailto:mattanaw@mattanaw.com">mattanaw@mattanaw.com</a>.</p>
