<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="stuck-between-a-moose-and-a-winterbear.html"
&&DocTitle="Stuck Between a Moose and a Winterbear"
&&DocSubtitle="A precarious situation attempting to access my property in Anchorage, AK"
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-1-web.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="February 7<sup>th</sup> 2019"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/stuck-between-a-moose-and-a-winterbear.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-1-master.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Stuck Between a Moose and a Winterbear"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="A precarious situation attempting to access my property in Anchorage, AK"


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Stuck Between a Moose and a Winterbear"
&&twitterCardDescription="A precarious situation attempting to access my property in Anchorage, AK"
&&twitterCardImage="http://www.mattanaw.com/images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-1-master.jpg"



--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center floated image transition visible" data-src="DocImage" src="DocImage" />
<p><em>An example winter photo from 2017, taken from one of my trail cameras. Miscellaneous photos of bears from the same camera are shown below.</em></p>
<p><a href="terms-conditions.txt">Terms and Conditions</a></p>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
<p>Last night on my property, my driveway was blocked by a large Moose and its calf, and I couldn't push them off the road with my truck due to undrivable snow depths and icy conditions. The moose do not like to exit the driveway, even with a truck driving behind them. On foot they are even more difficult. There was no way I could scare them off the road.</p>
<p>So walking, in pitch black conditions, with some reflection from the snow, and flashlight in hand, I navigated down a steep hill to bypass the moose. When I came back up the hill to the road, after much hiking, I found I was only about 30 feet ahead of that same large moose. But I was happy because at least I could get back to my RV, or so I thought.</p>
<p>Then, as I walked down the road, I spotted another animal. A large black bear. In winter. For some reason it emerged from hibernation. So I was stuck between a large black bear and a large moose with no way to get back to my truck but to scurry down a steep slope of ice and snow and back up to the road. I didn't go as far down the hill because I was worried about the bear, so I was dangerously close to the moose. I was more scared of the bear than the moose, but the moose loomed large, and appeared to be as dangerous as the bear.</p>
<p>I made it back to the truck, and to a hotel to stay for the night, but that was a pretty sketchy situation to be in.</p>
<img width="600" class="ui huge center floated image transition visible" data-src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-2-web.jpg" src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-2-web.jpg" />
<img width="600" class="ui huge center floated image transition visible" data-src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-3-web.jpg" src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-3-web.jpg" />
<img width="600" class="ui huge center floated image transition visible" data-src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-4-web.jpg" src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-4-web.jpg" />
<img width="600" class="ui huge center floated image transition visible" data-src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-5-web.jpg" src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-5-web.jpg" />
<img width="600" class="ui huge center floated image transition visible" data-src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-6-web.jpg" src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-6-web.jpg" />
<img width="600" class="ui huge center floated image transition visible" data-src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-7-web.jpg" src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-7-web.jpg" />
<img width="600" class="ui huge center floated image transition visible" data-src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-8-web.jpg" src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-8-web.jpg" />
<img width="600" class="ui huge center floated image transition visible" data-src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-9-web.jpg" src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-9-web.jpg" />
<img width="600" class="ui huge center floated image transition visible" data-src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-12-web.jpg" src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-12-web.jpg" />
<img width="600" class="ui huge center floated image transition visible" data-src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-13-web.jpg" src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-13-web.jpg" />
<img width="600" class="ui huge center floated image transition visible" data-src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-14-web.jpg" src="images/evening-image-anchorage-property-between-moose-and-winterbear-mattanaw-14-web.jpg" />
<p><em>Source: One of Mattanaw's trail cameras.</em></p>
<p><a href="terms-conditions.txt">Terms and Conditions</a></p>
