<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="landing"

/* Doc Properties
&&htmlPageTitle="Video Lists"
&&DocTitle="Video Lists"
&&DocSubtitle="It's just a list of videos people."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/video-lists-1-web.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="March 31<sup>st</sup>, 2019"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/mattanaws-wordly-coinages.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/video-lists-1-master.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Video Lists"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="It's just a list of videos people."

/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Image Lists™"
&&twitterCardDescription="It's just a list of videos people."
&&twitterCardImage="http://www.mattanaw.com/images/video-lists-1-web.jpg"




--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center image transition visible" data-src="DocImage" src="DocImage">
<br />
<h1>DocTitle</h1>
<p>DocSubtitle</p>
<p><em>Author: Christopher Matthew Cavanaugh</em></p>
<p><em>Published: June 7<sup>th</sup>, 2019</em></p>
<p><em>Edited: Original Edition</em></p>
<p>The following is a list of videos first released on this website.</p>
<p><a href="terms-conditions.txt">Terms and Conditions</a></p>
<p><em>All Rights Reserved</em></p>
<ul>
<li><em>&quot;At Least He Didn't Pull a Gun&quot;,</em> Posted July 19<sup>th</sup>, 2019. <a href="video/medred-landfield-woebler-at-least-he-didnt-pull-a-gun.mp4">MP4</a></li>
<li><em>Fat Tire Ride Down My Driveway to the Gate.</em> June 30<sup>th</sup>, 2019. Video taken June 28<sup>th</sup>, 2019. <a href="video/fat-tire-ride-down-driveway-to-gate-mattanaw-web.mp4">MP4</a></li>
<li><em>How I Treat People Who Trespass and How They Treat Me.</em> June 15<sup>th</sup>, 2019 <a href="video/trespasser-video-craig-medred-web.mp4">MP4</a> | <a href="video/trespasser-video-craig-medred-web.mov">MOV</a>. Note that I don't know this person (never met him once), so many of his comments were cryptic and not well-taken.</li>
<li><em>Trespasser Politicians.</em> June 15<sup>th</sup>, 2019, 5:30 pm AKST. <a href="video/mattanaw-01102018-birch-constant-woelber-landfield.mp4">MP4</a>. I am the first in this video, but this video was created by my neighbor using footage from his surveillance cameras. I transcoded it from the source file provided to me.</li>
<li><em>Along Came a Rainbow.</em> June 5<sup>th</sup>, 2019 <a href="video/rainbow-by-the-rv.mp4">MP4</a> | <a href="video/rainbow-by-the-rv.mov">MOV</a></li>
<li><em>A Recent Hike Part Way Up to McHugh Peak.</em> June 4<sup>th</sup>, 2019 <a href="video/part-way-to-mchugh-peak-above-my-rv.mp4">MP4</a> | <a href="video/part-way-to-mchugh-peak-above-my-rv.mov">MOV</a></li>
</ul>
<pre><a name="create-a-gap"></a><div class="ui section divider"></div></pre>
