<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="what-is-the-importance-of-logical-reasoning-in-critical-thinking.html"
&&DocTitle="What is the Importance of Logical Reasoning in Critical Thinking?"
&&DocSubtitle="And on the interrelationship with intuition."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/intuition-in-critical-thinking-web.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="October 2<sup>nd</sup> 2018"
&&EditDate="Original Version"
&&OgSourceUrl="http://www.mattanaw.com/what-is-the-importance-of-logical-reasoning-in-critical-thinking.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/intuition-in-critical-thinking-master.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="What is the Importance of Logical Reasoning in Critical Thinking?"
&&OgSiteName=""
&&OgDescription=""

/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="What is the Importance of Logical Reasoning in Critical Thinking?"
&&twitterCardDescription=""
&&twitterCardImage="images/intuition-in-critical-thinking-web.jpg"




--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center floated image transition visible" data-src="DocImage" src="DocImage" />
<p>Quora Question: <a href="https://www.quora.com/What-is-the-importance-of-logical-reasoning-in-critical-thinking/answer/Christopher-Matthew-Cavanaugh">&quot;What is the importance of logical reasoning in critical thinking?&quot;</a></p>
<p>When I was a teenager, many people, including my family members, viewed me as a negative person. This was because I was a very skilled defect finder. I had fun with it, and it was entertaining, so I never viewed myself as a negative person. Yet when I see other people using this skill, I do get a feeling they are being negative, with all their fault finding, although they may enjoy what they are doing and apply a positive spin to it. Critical thinking, like criticism, is associated with negativity. It is the process of finding something wrong or incorrect.</p>
<p>More exactly, it is not positive or negative, but neutral, although there is always an uncomfortable feeling. It’s the “I want to fix it” feeling when some disparity is recognized. It is like grooming. If I notice there is snot on your face, I will be kind and tell you. We both feel funny. It can be awkward. But it was positive for us both.</p>
<p>This is why being critical is considered negative. Others find it annoying when we point things out. We find it uncomfortable too. That’s key- we see so many uncomfortable, incorrect things. The process can be totally optimistic and positive, but the focus is on the unknown, or the mistaken.</p>
<p>This is the plight of the pattern seer.</p>
<p>Even today I find defects in everything—I am just less vocal about it, because I don’t want to be seen as a mere critic. However, it is vitally important to my process of creation. I want to create things that have fewer defects, or things that are missing defects I’m concerned to avoid. I also wish to avoid the criticisms of others, so I’ll spend time trying to find additional errors in my thinking, so I can improve the work further. I do have to accept that pattern recognizers are always going to find some flaws that I was unable to find myself, but I can content myself with making flaws imperceptible to most.</p>
<p>Critical thinking is first and foremost an intuitive activity. Logical thinking may underlie this to an extent, but I leave that for neuroscientists, psychologists, and phenomenologists to sort out. It is flaw perception. People who are very good at pattern recognition, are very good at finding anomalies or exceptions to expected patterns. This enables the discovery of deeper patterns that have fewer exceptions. This is a scientific approach. All people are good at this, because we naturally learn by surprise—unexpected things capture our attention. Surprising things challenge our expectations. As babies we are scientists in a sense. We observe and learn as new and exciting things enter our environments. When we are children, we quickly adapt, and what surprised us initially fails to surprise us later. Less and less surprises us over time, because our experiences are pretty consistent, and we would have to look more deeply, or vary our experiences, to find new exceptions. This period of becoming less critical is true for everyone, but people who are extremely adept at pattern recognition will not stop finding real flaws.</p>
<p>The greatest human creations of all forms are flawed, but only the most adept intuitives can see the problems. They are also the ones who are able to go beyond and create something more perfect.</p>
<p>What does logic have to do with this? Well first of all, to reveal flaws, and communicate them to other people, we usually have to rely on language. We have to describe both the patterns and their defects with reasoning. Logic is precise- used properly, it can very clearly describe a pattern, and any exception to the pattern. Logical thinking is critical to science, but it is critical to any argumentation and clear linguistic thinking whatsoever.</p>
<p>But logical reasoning is not the only important way of removing defects. An artist can provide better examples to clearly reveal important differences, even to ordinary perception, without ever saying anything at all.</p>
<p>My apologies if you were looking for a really simple answer. The simplest thing I can do is summarize the above. Critical thinking is very close to what you imagine with critiques, and defect fining. Logical thinking allows you to clearly show yourself that your critique was valid, and allow you to record it, communicate it, and demonstrate it to other people. Of course logic uses rules of inference that are well understood, foundational, and more difficult to challenge via the same critiquing process. Logicians spend their time applying their critical powers to logic as a discipline, with the effect that it is even more reliable for use within the process of critical thinking itself.</p>
<p><em>[Mattanaw was not the author of the <a href="https://www.quora.com/What-is-the-importance-of-logical-reasoning-in-critical-thinking/answer/Christopher-Matthew-Cavanaugh">Quora question</a>. Only the answer.]</em></p>
