<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="what-is-a-genius-and-who-can-become-one.html"
&&DocTitle="What is a Genius and Who Can Become One?"
&&DocSubtitle="Lending some of my experience and observations from within the High IQ community."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/what-is-a-genius-web.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="September 31<sup>st</sup> 2018"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/what-is-a-genius-and-who-can-become-one.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/what-is-a-genius-web.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="What is a Genius and Who Can Become One?"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="Lending some of my experience and observations from within the High IQ community."


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="What is a Genius and Who Can Become One?"
&&twitterCardDescription="Lending some of my experience and observations from within the High IQ community."
&&twitterCardImage="http://www.mattanaw.com/images/what-is-a-genius-web.jpg"



--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center floated image transition visible" data-src="DocImage" src="DocImage" />
<p>Original Quora question: <a href="https://www.quora.com/What-is-a-genius-and-who-can-become-one/answer/Christopher-Matthew-Cavanaugh">&quot;What should I do to be a genius?&quot;</a></p>
<p>My answer:</p>
<p>Reincarnate or transubstantiate.</p>
<p>Or to be more helpful: maybe you shouldn’t be thinking about how to become a genius. That is not a concept with a clear scientific application. Instead, think about how to become a master of something. I recently read this book, and believe it offers a constructive way to become an eminently skilled person. If you attained the mastery described in this text, people would come to want to call you a genius. That’s what people really want. They just want to be called a genius by others.</p>
<p><a href="https://books.google.com/books/about/Mastery.html?id=vkCKDQAAQBAJ&amp;printsec=frontcover&amp;source=kp_read_button#v=onepage&amp;q&amp;f=false">Mastery</a></p>
<p>The version of “genius” that is really of any use, relates to when people see evidence of ideation and productivity making them strongly desire to apply the term. If you create amazing things people will want to call you a genius, and in a sense you will be indistinguishable from other “geniuses” who had comparable productions. But would you then be a genius, really? I hope this conveys that there is no clear meaning here beyond the application. The word was not systematically developed.</p>
<p>So just focus on growing as a person, attaining a measure of wisdom, and producing new things.</p>
<p>Answer also available here on Quora: <a href="https://www.quora.com/What-is-a-genius-and-who-can-become-one/answer/Christopher-Matthew-Cavanaugh">https://www.quora.com/What-is-a-genius-and-who-can-become-one/answer/Christopher-Matthew-Cavanaugh</a></p>
<p>[Mattanaw was not the author of the <a href="https://www.quora.com/What-is-a-genius-and-who-can-become-one/answer/Christopher-Matthew-Cavanaugh">Quora question</a>. Only the answer.]</p>
