<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="http://www.mattanaw.com/why-do-so-many-intelligent-people-have-a-hard-time-socializing.html"
&&DocTitle="Why Do So Many Intelligent People Have a Hard Time Socializing?"
&&DocSubtitle="Lending some experience from within the High IQ Community."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/why-is-it-hard-for-high-iq-people-to-socialize-web.jpg"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="September 30<sup>th</sup> 2018"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/why-do-so-many-intelligent-people-have-a-hard-time-socializing.html"
&&OgType="article"
&&OgImage="http://www.mattanaw.com/images/why-is-it-hard-for-high-iq-people-to-socialize-web.jpg"
&&OgVideoType=""
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Why Do So Many Intelligent People Have a Hard Time Socializing?"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="Lending some experience from within the High IQ Community"


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Why Do So Many Intelligent People Have a Hard Time Socializing?"
&&twitterCardDescription="Lending some experience from within the High IQ Community"
&&twitterCardImage="http://www.mattanaw.com/images/why-is-it-hard-for-high-iq-people-to-socialize-web.jpg"



--><!--1--></pre>
<pre><!--2--></pre>
<img width="600" class="ui huge center floated image transition visible" data-src="DocImage" src="DocImage" />
<p>Quora Question: <a href="https://www.quora.com/Why-do-so-many-intelligent-people-have-such-a-hard-time-socializing/answer/Christopher-Matthew-Cavanaugh">&quot;Why Do So Many Intelligent People Have a Hard Time Socializing&quot;</a></p>
<p>Everyone wants to talk to someone they can relate to. Highly intelligent people think of complex things. Often these things are built off of topics that most people only consider in late adulthood. The difference is that highly intelligent people may have considered these things already early in childhood. It is painful to revisit the same topics over and over, so they seek people like themselves, to discuss new things, built off of these earlier things.</p>
<p>Ever talk to an old person about a topic they believe they have hard earned wisdom about, but you already understood it was incorrect when you were 7 years old? It is sad and painful!</p>
<p>Highly intelligent people seek out other highly intelligent people, and have a hard time finding them. And sometimes, when they do, they are not who they were hoping for.</p>
<p>Aside from this, they are just as adept at socializing as anyone else. Chances are you are not sure when you meet someone who is super intelligent, because they are trying to keep it at a normal pace. They can blend in, without thinking about it. Others cannot, but then again, there are lots of introverts and people who have difficulty socializing anyway. I’m on the introverted side, and I admit, there may be additional issues searching through what to say. I have a lot to say that would not interest people who are closer to average, no matter how our personalities line up or compliment each other.</p>
<p>[Mattanaw was not the author of the <a href="https://www.quora.com/Why-do-so-many-intelligent-people-have-such-a-hard-time-socializing/answer/Christopher-Matthew-Cavanaugh">Quora question</a>. Only the answer.]</p>
