<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="example.html"
&&DocTitle="Wilderness is Close to Anchorage""
&&DocSubtitle="Adventure is just a short distance from Anchorage."
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage=""
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="January 26<sup>th</sup> 2017"
&&EditDate="Original Edition"
&&OgSourceUrl="https://www.youtube.com/embed/HdJ1sxqPKU0"
&&OgType="video"
&&OgImage=""
&&OgVideoType="application/x-shockwave-flash"
&&OgVideo=""
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle=""
&&OgSiteName="Wilderness is Close to Anchorage""
&&OgDescription="It doesn't take a long trip outside of Anchorage to find adventure."


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Wilderness is Close to Anchorage""
&&twitterCardDescription="It doesn't take a long trip outside of Anchorage to find adventure."
&&twitterCardImage=""



--><!--1--></pre>
<pre><!--2--></pre>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HdJ1sxqPKU0?autoplay=1&rel=0" frameborder="0" allowfullscreen></iframe><br /><br />
<p>Before arriving in Anchorage, and Alaska generally, I considered national parks to be the ultimate destinations for scenic beauty. The importance of these parks for preservation, and for providing ease of access to wilderness is unquestioned. However, in Alaska there are incredible spots outside of the park system. The same is true with Canada and other more unpopulated places. Chugach State Park is an example of superlative beauty, and it is right outside of Anchorage. In Anchorage you don't need to go far for amazing sites and adventure, and when planning trips I don't really consider national parks as frequently, inside the State or abroad.</p>
<p>If you start from the center of Midtown Anchorage and you drive south, it only takes about 10 minutes before you are in a mostly unpopulated area, with spectacular landscapes. The video above shows some sights after 15 minutes driving south. Of course, you could venture out on a radial from Anchorage in any direction and find wilderness and variety. If you plan travel to Alaska, I would recommend reconsidering visits to the national parks. They are amazing, it is true, but they are far away from the city center. Parks like Denali and Wrangell-St.Elias are better for subsequent trips, if more than one trip is possible.</p>
