<pre><!--1--><!--
/* Markdown Template for Mattanaw.com Article Pages
/* Properties travel with the page

/* Template
&&templateType="article"

/* Doc Properties
&&htmlPageTitle="windy-day-at-the-rv.html"
&&DocTitle="Windy Day at the RV"
&&DocSubtitle="Series: Off Grid Living in Alaska"
&&DocAuthor="Christopher Matthew Cavanaugh"
&&DocDescription="MEGA DESCRIPTION"
&&DocImage="images/windy-day-at-the-rv.png"
&&ProfileImage="images/profile/rv-mattanaw-warmind.png"

/* Open Graph and Facebook Properties
&&PubDate="September 29<sup>th</sup> 2018"
&&EditDate="Original Edition"
&&OgSourceUrl="http://www.mattanaw.com/windy-day-at-the-rv.html"
&&OgType="video"
&&OgImage="http://www.mattanaw.com/images/windy-day-at-the-rv.png"
&&OgVideoType=""
&&OgVideo="http://www.mattanaw.com/images/windy-day-at-the-rv-480p.mp4"
&&OgVideoWidth=""
&&OgVideoHeight=""
&&OgTitle="Windy Day at the RV"
&&OgSiteName="MATTANAW.COM"
&&OgDescription="Series: Off Grid Living in Alaska"


/* Twitter Card Properties
&&twitterCardType="summary"
&&twitterCardSite="@mattanaw"
&&twitterCardTitle="Windy Day at the RV"
&&twitterCardDescription="Series: Off Grid Living in Alaska"
&&twitterCardImage="http://www.mattanaw.com/images/windy-day-at-the-rv.png"



--><!--1--></pre>
<pre><!--2--></pre>
<video width="320px" controls poster="images/windy-day-at-the-rv.png"> 
	<source src="video/windy-day-at-the-rv-480p.mp4">
	<source src="video/windy-day-at-the-rv-480p.mov">
Video incompatible with your device.
</video>
<footer><a href="video/windy-day-at-the-rv-480p.mp4">Video</a> by Mattanaw. <a href="terms-conditions.txt">Terms and Conditions</a></footer>
<p>Windy Day at The RV</p>
