<!-- body end global -->

<br /><br />

<div target="twitter" id="social-buttons" class="ui eight column centered grid"><a target="facebook" href="https://www.facebook.com/mattanawblog"><button class="ui linkedin button"><i class="facebook icon"></i>Facebook</button></a><a href="https://twitter.com/mattanaw"><button class="ui twitter button"><i class="twitter icon"></i>Twitter</button></a><a target="linkedin" href="http://www.linkedin.com/in/mattanaw"><button class="ui linkedin button"><i class="linkedin icon"></i>LinkedIn</button></a><a target="instagram" href="https://www.instagram.com/mattanaw/"><button class="ui instagram button"><i class="instagram icon"></i>Instagram</button></a><a target="youtube" href="https://www.youtube.com/channel/UCGa0yZu8pn5tiGz-sd60pvQ"><button class="ui youtube button"><i class="youtube icon"></i>YouTube</button></a></div>

<div class="ui inverted vertical footer segment"><div class="ui center aligned container"><div class="ui stackable inverted divided grid"><div class="four wide column"><h4 class="ui inverted header">Social</h4><div class="ui inverted link list"><a href="http://www.linkedin.com/in/mattanaw" target="linkedin" class="item">Linkedin</a><a href="https://twitter.com/mattanaw" target="twitter" class="item">Twitter</a><a href="https://www.pinterest.com/mattanaw/" target="pinterest" class="item">Pinterest</a><a href="https://mattanaw.tumblr.com" target="tumblr" class="item">Tumblr</a><a href="https://www.instagram.com/mattanaw/" target="instagram" class="item">Instagram</a><a href="https://www.facebook.com/mattanawblog" target="facebook" class="item">Facebook</a><a href="https://www.youtube.com/channel/UCGa0yZu8pn5tiGz-sd60pvQ" target="youtube" class="item">YouTube</a></div></div><div class="four wide column"><h4 class="ui inverted header">Publications and Content</h4><div class="ui inverted link list"><a href="" target="" class="biobrief item">Brief Bio</a><a href="https://www.quora.com/profile/Christopher-Matthew-Cavanaugh" target="quora" class="item">Quora</a><a href="http://harvard.academia.edu/ChristopherMatthewCavanaugh" target="academia" class="item">Academia</a><h4 class="ui inverted header">Credits and Contributions</h4><a href="acknowledgements.html" target="_blank" class="item">Acknowledgements</a></div></div><div class="seven wide column"><h4 class="ui inverted header">Social Automation Software By</h4><a href="https://www.facebook.com/social.architects.intl">Social Architects and Economists International, LLC</a></div></div>

<div class="ui inverted section divider"></div><p>Copyright <sup>&copy;</sup> 1998 to Present, Christopher Matthew Cavanaugh</p><div class="ui horizontal inverted small divided link list"><!-- <a class="item" href="#">Contact Me</a> --><a class="item" href="terms-conditions.txt">Terms and Conditions</a><a class="item" href="privacy-policy.txt">Privacy Policy</a></div></div></div>

<div class="ui modal"><i class="close icon"></i><div class="image content"><div class="ui big image"><img alt="Matt Cavanaugh" src="images/profile/mattanaw-focused.jpg" /></div><div class="description"><div class="ui header">Christopher Matthew Cavanaugh, aka "Mattanaw"</div><p>I am a semi-retired social architect and consultant, with professional/academic experience in the fields of computer science, psychology, philosophy, and more recently, economics.</p><p>Articles on this site are eclectic, and draw from content prepared between 1998 and 2018. Topics include ethics, art, fitness, finances, health, psychology, and vegetarianism. The common theme connecting all articles is moral philosophy, even if that is not immediately apparent. Any of my articles that touch on "the good and virtuous life" will be published here. These articles interrelate with my upcoming theory of ethics, two decades in preparation.<p><p>I welcome and appreciate constructive feedback and conversation with readers. You can reach me at mattanaw@mattanaw.com, twitter (@mattanaw), or via the other social media channels listed at the bottom of the site.<p></div></div><div class="actions"><!--<div class="ui positive right labeled icon button"><a href="http://www.christophermatthewcavanaugh.com">See Matt's Full Bio</a><i class="angle right icon"></i></div>--><div class="ui black deny button">Close</div></div></div></div><!-- end of site content within pusher -->

<script>

$("#profile-logo, .biobrief").click(function(e){
					  
	e.preventDefault();
							  
	$('.ui.modal').modal('show');
									  
	return false;
	
});

  $(".launch").click(function(){
  
    $('.ui.sidebar').sidebar('toggle');
  
  });

</script>

<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85082060-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>

<!-- end of body close -->
