
<!-- body open global -->

<body>

<div class="ui sidebar inverted vertical menu"><a class="item" href="index.html"><div class="header">Mattanaw's Home</div></a><div class="item"><div class="header">All Articles and Videos</div></div><div class="item"><div class=header>Series</div><div class="menu"><a class="all-articles item" href="christopher-matthew-cavanaugh-thoughtstream.html">Thoughtstream™</a><a class="all-articles item" href="rational-times.html">RationalTimes™</a><a class="all-articles item" href="off-grid-living-in-alaska.html">Off Grid Living in Alaska</a><a class="all-articles item" href="mattanaws-social-nuggets.html">SocialNuggets™</a><a class="all-articles item" href="mattanaws-social-nuggets.html">SocialNuggets™</a></div></div><div class="item"><div class=header>2018</div><div class="menu"><a class="item" href="christopher-matthew-cavanaugh-thoughtstream.html">Thoughtstream™</a><a class="all-articles item" href="how-do-you-balance-being-around-super-intelligent-people-and-retaining-your-sense-of-intelligence.html">Retaining Your Sense of Intelligence Among Other Smart People</a><a class="all-articles item" href="what-is-the-importance-of-logical-reasoning-in-critical-thinking.html">What is the Importance of Logical Reasoning in Critical Thinking?</a><a class="item" href="what-is-a-genius-and-who-can-become-one.html">What is a Genius and Who Can Become One?</a><a class="item" href="why-do-so-many-intelligent-people-have-a-hard-time-socializing.html">Why Do So Many Intelligent People Have a Hard Time Socializing?</a><a class="item" href="windy-day-at-the-rv.html">Windy Day at the RV</a><a class="item" href="fly-tape-is-wrong.html">Fly Tape Is Wrong!</a><a class="item" href="how-and-where-can-I-take-an-accredited-iq-test-and-how-much-does-it-cost.html">How and Where Can I Take an Accredited IQ Test?</a><a class="item" href="bag-o-marbles.html">Bag O' Marbles</a></div></div><div class="item"><div class="header">2017</div><div class="menu"><a class="item" href="strongboy-hartsfield-vegan.html">Historic Phill Hartsfield Knife For Sale</a><a class="item" href="evening-visit-from-a-moose-in-anchorage.html">Evening Visit From a Moose in Anchorage</a><a class="item" href="acknowledgements.html">Acknowledgements</a><a class="item" href="flight-from-tangier-island.html">Flight from Tangier Island</a><a class="item" href="wilderness-is-close.html">Wilderness is Close to Anchorage</a><a class="item" href="no-you-really-wont-see-the-whales-and-aurora-borealis.html">No, You Really Won't See the Whales and Aurora Borealis</a><a class="item" href="the-burden-of-having-too-many-ideas.html">The Burden of Having Too Many Ideas</a></div></div><div class="item"><div class="header">2016</div><div class="menu"><a class="item" href="strategy-one-tips-and-tools-managing-procrastination.html">Strategies for Managing Procrastination, Part One</a></div></div></div>

<div class="pusher">
	<!-- Site content !-->
  <div class="ui main text container">
    <h1 class="ui header">DocTitle</h1>
    <p>DocSubtitle</p>
		<p><em>Author: DocAuthor</em></p>
		<p><em class="article-date">PubDate</em></p>
  </div>

  <div class="ui borderless main menu">
    <div class="ui text container">
      <div href="#" class="header item">
				<a class="sidemenu launch icon item">
			  	<i class="content icon"></i>
				</a>
        <img id="profile-logo" class="logo" src="images/profile/mattanaw-profile-focused.jpg">
        <a href="index.html">Mattanaw's Blog</a>
      </div>

			<!-- Featured Menu Block Start -->			
<div href="#" class="ui right floated dropdown item">Featured<i class="dropdown icon"></i><div class="menu"><a class="item" href="index.html">Home</a><div class="header"><strong style="color:#999999">Misc. Creative</strong></div><a href="christopher-matthew-cavanaugh-thoughtstream.html" class="item">Thoughtstream™</a><div class="header"><strong style="color:#999999">Philosophy and Psychology</strong></div><a href="the-burden-of-having-too-many-ideas.html" class="item">The Burden of Having Too Many Ideas</a><div class="header"><strong style="color:#999999;">Alaska</strong></div><a class="item" href="windy-day-at-the-rv.html">Windy Day at the RV</a><a class="item" href="fly-tape-is-wrong.html">Fly Tape is Wrong!</a><div class="header"><strong style="color:#999999;">Flight - Small Aircraft</strong></div><a href="flight-from-tangier-island.html" class="item">A Flight from Tangier Island</a><div class="header"><strong style="color:#999999;">Misc</strong></div><a href="" target="" class="biobrief item">- Brief Bio</a></div> 
				<!-- Featureed Menu Block End -->

      </div>
    </div>
  </div>
<!-- end body open global -->
