<!-- head close global --><link rel="stylesheet" type="text/css" href="ext/semantic-ui-css-master/dist/semantic.css"><script src="ext/assets/library/jquery.min.js"></script><script src="ext/semantic-ui-css-master/dist/semantic.min.js"></script><script src="app/app.js"></script><link rel="stylesheet" type="text/css" href="app/app.css"></head><!-- end head close global -->
