<div class="pusher"><!-- Site content !--><div class="ui main text container"><h1 class="ui header">DocTitle</h1><p>DocSubtitle</p><em>Author: DocAuthor</em><br /><em class="article-date">Published: PubDate</em><br /><em class="article-date">Edited: EditDate</em></div>
